@{
    Layout = "_PublicLayout";
}
<form>
    <h1>Forgot Password?</h1>
    <div>
        <h6>
            Enter the email address you used when you joined and we'll send you instructions to reset your password.
        </h6>
        <h6>
            For security reasons, we do NOT store your password. So rest assured that we will never send your password via email.
        </h6>
    </div>
    <br>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <button type="submit" class="btn btn-brand btn-gradient">Send Reset Instructions</button>
    <a href="page-login.html" class="btn btn-light">Go Back</a>
</form>