<div>
    <nav class="rg-breadcrumb" aria-label="breadcrumb">
        <h4 class="text-primary">Data Tables</h4>
        <ol class="breadcrumb">
          <li class="breadcrumb-item breadcrumb-item-first"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="#">Table</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="#">Data tables</a></li>
        </ol>
        <button class="btn btn-secondary btn-icon ml-auto btn-small"><span class="material-icons">settings_applications</span></button>
      </nav> 
    <div>
        <div class="row">
            <div class="col-lg-6">
                <div class="rg-card-simple equal-height">
                    <header>
                        <h5>Simple Table</h1>
                    </header>
                    <section>
                        <table id="simpleTable" class="table rg-table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>mdo</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>fat</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="rg-card-simple equal-height">
                    <header>
                        <h5>Borderless Table</h1>
                    </header>
                    <section>
                        <table id="borderlessTable" class="table table-borderless rg-table">
                            <thead>
                                <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>mdo</td>
                                </tr>
                                <tr>
                                <td>2</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>fat</td>
                                </tr>
                                <tr>
                                <td>3</td>
                                <td >Larry</td>
                                <td >the Bird</td>
                                <td>twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="rg-card-simple equal-height">
                    <header>
                        <div class="heading">
                            <h5>Striped Table </h1>
                        </div>
                    </header>
                    <section>
                        <table id="strippedTable" class="table table-striped rg-table">
                            <thead>
                                <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>mdo</td>
                                </tr>
                                <tr>
                                <td>2</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>fat</td>
                                </tr>
                                <tr>
                                <td>3</td>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="rg-card-simple equal-height">
                    <header>
                        <div class="heading">
                            <h5>Highlighted Table Header</h1>
                        </div>
                    </header>
                    <section>
                        <table id="highlightedTableHeader" class="table rg-table">
                            <thead class="thead-dark">
                                <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>mdo</td>
                                </tr>
                                <tr>
                                <td>2</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>fat</td>
                                </tr>
                                <tr>
                                <td>3</td>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="rg-card-simple equal-height">
                    <header>
                        <div class="heading">
                            <h5>Invert Table </h1>
                        </div>
                    </header>
                    <section>
                        <table id="invertTable" class="table table-striped table-dark rg-table">
                            <thead>
                                <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>mdo</td>
                                </tr>
                                <tr>
                                <td>2</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>fat</td>
                                </tr>
                                <tr>
                                <td>3</td>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>twitter</td>
                                </tr>
                                <tr>
                                <td>2</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>fat</td>
                                </tr>
                                <tr>
                                <td>3</td>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="rg-card-simple equal-height">
                    <header>
                        <div class="heading">
                            <h5>Highlighted Row Table</h1>
                        </div>
                    </header>
                    <section>
                        <table id="highlightedRowTable" class="table rg-table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Class</th>
                                    <th>Heading</th>
                                    <th>Heading</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="table-default">
                                    <td>1</td>
                                    <td>Default</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                </tr>
                                <tr class="table-success">
                                    <td>2</td>
                                    <td>Success</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                </tr>
                                <tr class="table-info">
                                    <td>3</td>
                                    <td>Info</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                </tr>
                                <tr class="table-error">
                                    <td>4</td>
                                    <td>Error</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                </tr>
                                <tr class="table-warning">
                                    <td>5</td>
                                    <td>Warning</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/data-tables.js"></script>