
                <div class="user-data-table">
    <nav class="rg-breadcrumb" aria-label="breadcrumb">
        <h4 class="text-highlight-primary">User Data table</h4>
        <ol class="breadcrumb">
          <li class="breadcrumb-item breadcrumb-item-first"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="#">User</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="#">User data table</a></li>
        </ol>
        <button class="btn btn-secondary btn-icon ml-auto btn-small"><span class="material-icons">settings_applications</span></button>
      </nav>
    <div class="rg-card-tabs">
        <header>
            <h5>Exclusive Datatable plugin</h5>
        </header>
        <section>
            <table id="user-data-table" class="table rg-table rg-table-simple user-data-table">
                <thead>
                  <tr>
                    <th class="text-right">
                      <div class="form-group custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="userDataTableCheckBox1">
                        <label class="custom-control-label" for="userDataTableCheckBox1"></label>
                      </div>
                    </th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Status</th>
                    <th>Company</th>
                    <th>Joining Date</th>
                    <th class="text-center">Actions</th>
                    <th>Version</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-right">
                      <div class="form-group custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="userDataTableCheckBox2">
                        <label class="custom-control-label" for="userDataTableCheckBox2"></label>
                      </div>
                    </td>
                    <td>
                        <img src="../images/users/user-01-large.jpg" class="media-image rounded-corner extra-small" alt="user"/>
                        <span>Prescott Barlett</span>
                    </td>
                    <td>Technical Writer</td>
                    <td>
                        <span class="rg-badge rg-badge-highlight rg-badge-highlight-primary">Available</span>
                    </td>
                    <td >
                        <div class="company-info">
                            <img src="../images/company-logos/company-logo-01-large.png" class="media-image round extra-small" alt="Company Logo">
                            <div>
                                <p class="name text-weight-500">Wrogan Technologies</p>
                                <span class="location">Log Angeless, USA</span>
                            </div>
                        </div>
                    </td>
                    <td>2011/04/25</td>
                    <td class="text-center">
                      <span class="material-icons info link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">more_horiz</span>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <section>
                            <a class="dropdown-item" href="javascript:void(0);"> 
                                <i class="material-icons secondary">chat</i>
                                <span>Message</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0);">
                                <i class="material-icons secondary">attach_money</i>
                                <span>Hire</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0);">
                                <i class="material-icons secondary">person </i>
                                <span>Follow</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0);">
                                <i class="material-icons secondary">help</i>
                                <span>Report</span>
                            </a>
                        </section>
                    </div>
                    </td>
                    <td>4.4.3</td>
                  </tr>
                  <tr>
                    <td class="text-right">
                      <div class="form-group custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="userDataTableCheckBox3">
                        <label class="custom-control-label" for="userDataTableCheckBox3"></label>
                      </div>
                    </td>
                    <td>
                        <img src="../images/users/user-02-large.jpg" class="media-image rounded-corner extra-small" alt="user"/>
                        <span>Mathew Bolt</span>
                    </td>
                    <td>Human Resouce Head</td>
                    <td>
                        <span class="rg-badge rg-badge-highlight rg-badge-highlight-warning">Engaged</span>
                    </td>
                    <td >
                        <div class="company-info">
                            <img src="../images/company-logos/company-logo-02-large.png" class="media-image round extra-small" alt="Company Logo">
                            <div>
                                <p class="name text-weight-500">Cuba Foundation</p>
                                <span class="location">Log Angeless, USA</span>
                            </div>
                        </div>
                    </td>
                    <td>2011/04/25</td>
                    <td class="text-center">
                      <span class="material-icons info link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">more_horiz</span>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <section>
                            <a class="dropdown-item" href="javascript:void(0);"> 
                                <i class="material-icons secondary">chat</i>
                                <span>Message</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0);">
                                <i class="material-icons secondary">attach_money</i>
                                <span>Hire</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0);">
                                <i class="material-icons secondary">person </i>
                                <span>Follow</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0);">
                                <i class="material-icons secondary">help</i>
                                <span>Report</span>
                            </a>
                        </section>
                    </div>
                    </td>
                    <td>4.4.3</td>
                  </tr>
                  <tr>
                    <td class="text-right">
                      <div class="form-group custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="userDataTableCheckBox4">
                        <label class="custom-control-label" for="userDataTableCheckBox4"></label>
                      </div>
                    </td>
                    <td>
                        <img src="../images/users/user-03-large.jpg" class="media-image rounded-corner extra-small" alt="user"/>
                        <span>Rina Malhotra</span>
                    </td>
                    <td>Personal Coach</td>
                    <td>
                        <span class="rg-badge rg-badge-highlight rg-badge-highlight-success">Freelancer</span>
                    </td>
                    <td >
                        <div class="company-info">
                            <img src="../images/company-logos/company-logo-03-large.png" class="media-image round extra-small" alt="Company Logo">
                            <div>
                                <p class="name text-weight-500">Infinity Inc.</p>
                                <span class="location">Log Angeless, USA</span>
                            </div>
                        </div>
                    </td>
                    <td>2011/04/25</td>
                    <td class="text-center">
                      <span class="material-icons info link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">more_horiz</span>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <section>
                            <a class="dropdown-item" href="javascript:void(0);"> 
                                <i class="material-icons secondary">chat</i>
                                <span>Message</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0);">
                                <i class="material-icons secondary">attach_money</i>
                                <span>Hire</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0);">
                                <i class="material-icons secondary">person </i>
                                <span>Follow</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0);">
                                <i class="material-icons secondary">help</i>
                                <span>Report</span>
                            </a>
                        </section>
                    </div>
                    </td>
                    <td>4.4.3</td>
                  </tr>
                  <tr>
                    <td class="text-right">
                      <div class="form-group custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="userDataTableCheckBox5">
                        <label class="custom-control-label" for="userDataTableCheckBox5"></label>
                      </div>
                    </td>
                    <td>
                        <img src="../images/users/user-04-large.jpg" class="media-image rounded-corner extra-small" alt="user"/>
                        <span>Swan Sicly</span>
                    </td>
                    <td>Inspirational Leader</td>
                    <td>
                        <span class="rg-badge rg-badge-highlight rg-badge-highlight-error">Not Available</span>
                    </td>
                    <td >
                        <div class="company-info">
                            <img src="../images/company-logos/company-logo-04-large.png" class="media-image round extra-small" alt="Company Logo">
                            <div>
                                <p class="name text-weight-500">X-Personnel Org</p>
                                <span class="location">Log Angeless, USA</span>
                            </div>
                        </div>
                    </td>
                    <td>2011/04/25</td>
                    <td class="text-center">
                      <span class="material-icons info link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">more_horiz</span>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <section>
                            <a class="dropdown-item" href="javascript:void(0);"> 
                                <i class="material-icons secondary">chat</i>
                                <span>Message</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0);">
                                <i class="material-icons secondary">attach_money</i>
                                <span>Hire</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0);">
                                <i class="material-icons secondary">person </i>
                                <span>Follow</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0);">
                                <i class="material-icons secondary">help</i>
                                <span>Report</span>
                            </a>
                        </section>
                    </div>
                    </td>
                    <td>4.4.3</td>
                  </tr>
                  <tr>
                    <td class="text-right">
                      <div class="form-group custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="userDataTableCheckBox6">
                        <label class="custom-control-label" for="userDataTableCheckBox6"></label>
                      </div>
                    </td>
                    <td>
                        <img src="../images/users/user-05-large.jpg" class="media-image rounded-corner extra-small" alt="user"/>
                        <span>Lita Hevlet</span>
                    </td>
                    <td>Mystry Character</td>
                    <td>
                        <span class="rg-badge rg-badge-highlight rg-badge-highlight-info">Available</span>
                    </td>
                    <td >
                        <div class="company-info">
                            <img src="../images/company-logos/company-logo-05-large.png" class="media-image round extra-small" alt="Company Logo">
                            <div>
                                <p class="name text-weight-500">User Sera Org</p>
                                <span class="location">Log Angeless, USA</span>
                            </div>
                        </div>
                    </td>
                    <td>2011/04/25</td>
                    <td class="text-center">
                      <span class="material-icons info link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">more_horiz</span>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <section>
                            <a class="dropdown-item" href="javascript:void(0);"> 
                                <i class="material-icons secondary">chat</i>
                                <span>Message</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0);">
                                <i class="material-icons secondary">attach_money</i>
                                <span>Hire</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0);">
                                <i class="material-icons secondary">person </i>
                                <span>Follow</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0);">
                                <i class="material-icons secondary">help</i>
                                <span>Report</span>
                            </a>
                        </section>
                    </div>
                    </td>
                    <td>4.4.3</td>
                  </tr>
                </tbody>
              </table>
        </section>
    </div>
</div>