
                <div>
    <nav class="rg-breadcrumb" aria-label="breadcrumb">
        <h4 class="text-highlight-primary">User default list</h4>
        <ol class="breadcrumb">
          <li class="breadcrumb-item breadcrumb-item-first"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="#">User</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="#">User default list</a></li>
        </ol>
        <button class="btn btn-secondary btn-icon ml-auto btn-small"><span class="material-icons">settings_applications</span></button>
      </nav>
    <div class="rg-card-action user-default-list">
        <div class="left-pane">
            <img src="../images/users/user-01-large.jpg" class="media-image rounded-corner large"/>
        </div>
        <div class="right-pane">
            <header>
                <div class="user-info-container">                
                    <div>
                        <div class="row">
                            <div class="col-lg-12 user-info">
                                <h4 class="mb-0 text-weight-700">
                                    <span>Json Muller</span>
                                    <span class="rg-badge rg-badge-round-lg-text rg-badge-secondary text-medium">Pro</span>
                                </h4>
                                <span class="text-highlight-secondary">Head of Designing</span>                                              
                            </div>                    
                        </div>
                        <div class="row rg-m-b-10">
                            <div class="col-md-12 user-details">
                                <label class="material-icons mb-0 rg-m-r-5 text-secondary">mail</label>
                                <span class="rg-m-r-20 text-secondary">json@gmail.com</span>
                                <label class="material-icons mb-0 rg-m-r-5 text-secondary">stay_primary_portrait</label>
                                <span class="rg-m-r-20 text-secondary">44(76)1234</span>
                                <label class="material-icons mb-0 rg-m-r-5 text-secondary">place</label>
                                <span class="rg-m-r-20 text-secondary">Melbourne</span>
                            </div>
                        </div>
                    </div>
                    <div class="inline-actions">
                        <span class="material-icons link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">more_horiz</span>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <section>
                                <a class="dropdown-item" href="javascript:void(0);"> 
                                    <i class="material-icons secondary">chat</i>
                                    <span>Message</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0);">
                                    <i class="material-icons secondary">attach_money</i>
                                    <span>Hire</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0);">
                                    <i class="material-icons secondary">person </i>
                                    <span>Follow</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0);">
                                    <i class="material-icons secondary">help</i>
                                    <span>Report</span>
                                </a>
                            </section>
                        </div>
                    </div>
                </div>
            </header>
            <section>
                <div class="attribute-container row">
                    <div class="attribute col-lg-2 col-6 align-items-end">
                        <h1 class="display-large mb-0 text-secondary">$20</h1>
                        <h4 class="mb-0 text-highlight-secondary">/Hour</h4>
                    </div>
                    <div class="attribute col-lg-2 col-6">
                        <span class="material-icons display-extra-large">card_giftcard</span>
                        <div>
                            <h4 class="text-secondary text-weight-700 rg-m-b-0">78</h4>
                            <span class="text-highlight-secondary">Projects</span>
                        </div>
                    </div>
                    <div class="attribute col-lg-2 col-6">
                        <span class="fas fa-dollar-sign"></span>
                        <div>
                            <h4 class="text-secondary text-weight-700 rg-m-b-0">$12,545</h4>
                            <span class="text-highlight-secondary">Total Profit</span>
                        </div>
                    </div>
                    <div class="attribute col-lg-2 col-6">
                        <span class="material-icons display-extra-large">mms</span>
                        <div>
                            <h4 class="text-secondary text-weight-700 rg-m-b-0">324</h4>
                            <span class="text-highlight-secondary">Feedbacks</span>
                        </div>
                    </div>
                    <div class="attribute col-lg-4 col-sm-12">
                        <div class="linked-users">
                            <img src="../images/users/user-04-large.jpg" class="media-image capsule small" alt="User"/>
                            <img src="../images/users/user-05-large.jpg" class="media-image capsule small" alt="User"/>
                            <h3 class="text-secondary rg-m-l-5">6+</h3>
                        </div>
                    </div>                
                </div>
            </section>
        </div>
    </div>
    <div class="rg-card-action user-default-list">
        <div class="left-pane">
            <img src="../images/users/user-03-large.jpg" class="media-image rounded-corner large"/>
        </div>
        <div class="right-pane">
            <header>
                <div class="user-info-container">                
                    <div>
                        <div class="row">
                            <div class="col-lg-12 user-info">
                                <h4 class="mb-0 text-weight-700">
                                    <span>Sara Conner</span>
                                    <span class="rg-badge rg-badge-round-lg-text rg-badge-primary text-medium">Exclusive</span>
                                </h4>
                                <span class="text-highlight-secondary">Frontend Developer</span>                                              
                            </div>                    
                        </div>
                        <div class="row rg-m-b-10">
                            <div class="col-md-12 user-details">
                                <label class="material-icons mb-0 rg-m-r-5 text-secondary">mail</label>
                                <span class="rg-m-r-20 text-secondary">sara@gmail.com</span>
                                <label class="material-icons mb-0 rg-m-r-5 text-secondary">stay_primary_portrait</label>
                                <span class="rg-m-r-20 text-secondary">65(76)1234</span>
                                <label class="material-icons mb-0 rg-m-r-5 text-secondary">place</label>
                                <span class="rg-m-r-20 text-secondary">New York</span>
                            </div>
                        </div>
                    </div>
                    <div class="inline-actions">
                        <span class="material-icons link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">more_horiz</span>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <section>
                                <a class="dropdown-item" href="javascript:void(0);"> 
                                    <i class="material-icons secondary">chat</i>
                                    <span>Message</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0);">
                                    <i class="material-icons secondary">attach_money</i>
                                    <span>Hire</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0);">
                                    <i class="material-icons secondary">person </i>
                                    <span>Follow</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0);">
                                    <i class="material-icons secondary">help</i>
                                    <span>Report</span>
                                </a>
                            </section>
                        </div>
                    </div>
                </div>
            </header>
            <section>
                <div class="attribute-container row">
                    <div class="attribute col-lg-2 col-6 align-items-end">
                        <h1 class="display-large mb-0 text-secondary">$18</h1>
                        <h4 class="mb-0 text-highlight-secondary">/Hour</h4>
                    </div>
                    <div class="attribute col-lg-2 col-6">
                        <span class="material-icons display-extra-large">card_giftcard</span>
                        <div>
                            <h4 class="text-secondary text-weight-700 rg-m-b-0">26</h4>
                            <span class="text-highlight-secondary">Projects</span>
                        </div>
                    </div>
                    <div class="attribute col-lg-2 col-6">
                        <span class="fas fa-dollar-sign"></span>
                        <div>
                            <h4 class="text-secondary text-weight-700 rg-m-b-0">$8,652</h4>
                            <span class="text-highlight-secondary">Total Profit</span>
                        </div>
                    </div>
                    <div class="attribute col-lg-2 col-6">
                        <span class="material-icons display-extra-large">mms</span>
                        <div>
                            <h4 class="text-secondary text-weight-700 rg-m-b-0">65</h4>
                            <span class="text-highlight-secondary">Feedbacks</span>
                        </div>
                    </div>
                    <div class="attribute col-lg-4 col-sm-12">
                        <div class="linked-users">
                            <img src="../images/users/user-01-large.jpg" class="media-image capsule small" alt="User"/>
                            <img src="../images/users/user-02-large.jpg" class="media-image capsule small" alt="User"/>
                            <img src="../images/users/user-03-large.jpg" class="media-image capsule small" alt="User"/>
                            <h3 class="text-secondary rg-m-l-5">6+</h3>
                        </div>
                    </div>                
                </div>
            </section>
        </div>
    </div>
    <div class="rg-card-action user-default-list">
        <div class="left-pane">
            <img src="../images/users/user-04-large.jpg" class="media-image rounded-corner large"/>
        </div>
        <div class="right-pane">
            <header>
                <div class="user-info-container">                
                    <div>
                        <div class="row">
                            <div class="col-lg-12 user-info">
                                <h4 class="mb-0 text-weight-700">
                                    <span>Elissa Perry</span>
                                    <span class="rg-badge rg-badge-round-lg-text rg-badge-secondary text-medium">Pro</span>
                                </h4>
                                <span class="text-highlight-secondary">QA Engineer</span>                                              
                            </div>                    
                        </div>
                        <div class="row rg-m-b-10">
                            <div class="col-md-12 user-details">
                                <label class="material-icons mb-0 rg-m-r-5 text-secondary">mail</label>
                                <span class="rg-m-r-20 text-secondary">elissa@gmail.com</span>
                                <label class="material-icons mb-0 rg-m-r-5 text-secondary">stay_primary_portrait</label>
                                <span class="rg-m-r-20 text-secondary">65(76)65879</span>
                                <label class="material-icons mb-0 rg-m-r-5 text-secondary">place</label>
                                <span class="rg-m-r-20 text-secondary">Washington</span>
                            </div>
                        </div>
                    </div>
                    <div class="inline-actions">
                        <span class="material-icons link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">more_horiz</span>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <section>
                                <a class="dropdown-item" href="javascript:void(0);"> 
                                    <i class="material-icons secondary">chat</i>
                                    <span>Message</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0);">
                                    <i class="material-icons secondary">attach_money</i>
                                    <span>Hire</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0);">
                                    <i class="material-icons secondary">person </i>
                                    <span>Follow</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0);">
                                    <i class="material-icons secondary">help</i>
                                    <span>Report</span>
                                </a>
                            </section>
                        </div>
                    </div>
                </div>
            </header>
            <section>
                <div class="attribute-container row">
                    <div class="attribute col-lg-2 col-6 align-items-end">
                        <h1 class="display-large mb-0 text-secondary">$25</h1>
                        <h4 class="mb-0 text-highlight-secondary">/Hour</h4>
                    </div>
                    <div class="attribute col-lg-2 col-6">
                        <span class="material-icons display-extra-large">card_giftcard</span>
                        <div>
                            <h4 class="text-secondary text-weight-700 rg-m-b-0">62</h4>
                            <span class="text-highlight-secondary">Projects</span>
                        </div>
                    </div>
                    <div class="attribute col-lg-2 col-6">
                        <span class="fas fa-dollar-sign"></span>
                        <div>
                            <h4 class="text-secondary text-weight-700 rg-m-b-0">$18,475</h4>
                            <span class="text-highlight-secondary">Total Profit</span>
                        </div>
                    </div>
                    <div class="attribute col-lg-2 col-6">
                        <span class="material-icons display-extra-large">mms</span>
                        <div>
                            <h4 class="text-secondary text-weight-700 rg-m-b-0">162</h4>
                            <span class="text-highlight-secondary">Feedbacks</span>
                        </div>
                    </div>
                    <div class="attribute col-lg-4 col-sm-12">
                        <div class="linked-users">
                            <img src="../images/users/user-01-large.jpg" class="media-image capsule small" alt="User"/>
                            <img src="../images/users/user-02-large.jpg" class="media-image capsule small" alt="User"/>
                            <img src="../images/users/user-03-large.jpg" class="media-image capsule small" alt="User"/>
                            <h3 class="text-secondary rg-m-l-5">6+</h3>
                        </div>
                    </div>                
                </div>
            </section>
        </div>
    </div>
    <div class="rg-card-simple no-header">
        <section>
            <div class="row">
                <div class="col-lg-9">
                        <nav>
                            <ul class="pagination rg-pagination">
                                <li class="page-item d-none d-sm-block">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span class="material-icons">first_page</span>
                                </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span class="material-icons">navigate_before</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link active" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span class="material-icons">navigate_next</span>
                                </a>
                                </li>
                                <li class="page-item d-none d-sm-block">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span class="material-icons">last_page</span>
                                </a>
                                </li>                              
                            </ul>
                        </nav>
                </div>
                <div class="col-lg-3 pagination-info">                        
                        <select class="form-control form-control-rectangle">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                </div>
            </div>
        </section>
    </div>
</div>