
                <div>
  <nav class="rg-breadcrumb" aria-label="breadcrumb">
    <h4 class="text-highlight-primary">Cards</h4>
    <ol class="breadcrumb">
      <li class="breadcrumb-item breadcrumb-item-first"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="#">Cards</a></li>
    </ol>
    <button class="btn btn-secondary btn-icon ml-auto btn-small"><span class="material-icons">settings_applications</span></button>
  </nav> 
  <div class="row">
    <div class="col-md-6">
      <div class="rg-card-simple equal-height">
    <header>
      <h5>Basic Cards</h5>
      <span>Subtitle of the card</span>
    </header>
    <section>
      <p class="text-thin">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus
        vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
        accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra
        maecenas accumsan lacus vel facilisis. </p>
    </section>
    <footer>
      <button class="btn btn-primary btn-rectangle">Submit</button>
      <button class="btn btn-link">Cancel</button>
    </footer>
  </div>
    </div>
    <div class="col-md-6">
      <div class="rg-card-tabs equal-height">
    <header>
      <div class="heading">
        <h5>Card with tabs in header</h5>
        <span>Subtitle of the card</span>
      </div>
      <div class="inline-tabs">
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-pending-tab" data-toggle="pill" href="#pills-pending" role="tab"
              aria-controls="pills-pending" aria-selected="true">Pending</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-completed-tab" data-toggle="pill" href="#pills-completed" role="tab"
              aria-controls="pills-completed" aria-selected="false">Completed</a>
          </li>
        </ul>
      </div>
    </header>
    <section class="tab-content" id="pills-tabContent">
      <p class="tab-pane fade show active text-thin" id="pills-pending" role="tabpanel" aria-labelledby="pills-pending-tab">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus
        vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
        accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra
        maecenas accumsan lacus vel facilisis. </p>
      <p class="tab-pane fade show text-thin" id="pills-completed" role="tabpanel" aria-labelledby="pills-completed-tab">Lorem
        ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
        facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
        accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra
        maecenas accumsan lacus vel facilisis. </p>
    </section>
    <footer class="align-items-center">
      <button class="btn btn-primary btn-rectangle ml-auto">Submit</button>
      <button class="btn btn-link">Cancel</button>
    </footer>
  </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="rg-card-action equal-height">
    <header>
      <div class="heading">
        <h5>Card with Action icons</h5>
        <span>Subtitle of the card</span>
      </div>
      <div class="inline-actions">
        <span class="material-icons link" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">more_horiz</span>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Day</a>
          <a class="dropdown-item" href="#">Week</a>
          <a class="dropdown-item" href="#">Month</a>
        </div>
      </div>
    </header>
    <section>
      <p class="text-thin">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus
        vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
        accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra
        maecenas accumsan lacus vel facilisis. </p>
    </section>
    <footer>
      <button class="btn btn-primary btn-rectangle">Submit</button>
      <button class="btn btn-link">Cancel</button>
    </footer>
  </div>
    </div>
    <div class="col-md-6">
      <div class="rg-card-action equal-height rg-card-highlight-header heightlight-success">
    <header>
      <div class="heading">
        <h5>highlighted header</h5>
      </div>
      <div class="inline-actions">
        <span class="material-icons link" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">more_horiz</span>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Day</a>
          <a class="dropdown-item" href="#">Week</a>
          <a class="dropdown-item" href="#">Month</a>
        </div>
      </div>
      <div class="heightlight-content">
        <h1 class="mb-3 display-extra-large">12,540 <span class="material-icons h5">show_chart</span><span class="h5">321 (2.05%)</span></h1>
      </div>
    </header>
    <section>
      <p class="text-thin">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus
        vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
        accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra
        maecenas accumsan lacus vel facilisis. </p>
    </section>
  </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="rg-card-solid-skin skin-info equal-height ">
    <header>
      <h5>Solid Skin Card</h5>
      <span>Subtitle of the card</span>
    </header>
    <section>
      <p class="text-thin">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus
        vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
        accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra
        maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus
        vel facilisis.</p>
    </section>
  </div>
    </div>
    <div class="col-md-6">
      <div class="rg-card-header-image equal-height">
    <header>
      <img src="../images/blog/blog-04-large.jpg" class="media-blog-image full-width" alt="blog">
      <div class="heading">
        <h5>Card header with image</h5>
      </div>
    </header>
    <section>
      <p class="text-thin">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus
        vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
        accumsan lacus vel facilisis.</p>
    </section>
  </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="rg-card-social-media rg-card-action light equal-height">
    <header>

      <div class="heading">
        <h5>Social Media card light</h5>
      </div>
      <div class="inline-actions">
        <span class="material-icons error">favorite</span>
      </div>
    </header>
    <section class="text-center">
      <div class="user-details">
        <div class="user-pic">
          <img src="../images/users/user-04-large.jpg" class="media-image capsule" alt="user">
        </div>
        <h1 class="display-medium mt-3 mb-1">Anna Strong</h1>
        <h5 class="text-highlight-secondary mb-3">Senior Developer</h5>
      </div>
      <div class="action">
        <button class="btn btn-danger">Follow</button>
        <button class="btn btn-light">Message</button>
      </div>
      <div class="stats">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <h2 class="mb-0 text-weight-600">322</h2>
              <h5 class="m-0 text-highlight-secondary">Uploads</h5>
            </div>
            <div class="col-md-4">
              <h2 class="mb-0 text-weight-600">1.2k</h2>
              <h5 class="m-0 text-highlight-secondary">Followers</h5>
            </div>
            <div class="col-md-4">
              <h2 class="mb-0 text-weight-600">736</h2>
              <h5 class="m-0 text-highlight-secondary">Following</h5>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
    </div>
    <div class="col-md-4">
      <div class="rg-card-social-media rg-card-action dark equal-height">
        <header>
          <div class="heading">
            <h5>Social Media card dark</h5>
          </div>
          <div class="inline-actions">
            <span class="material-icons error">favorite</span>
          </div>
        </header>
        <section class="text-center">
          <div class="user-details">
            <div class="user-pic">
              <img src="../images/users/user-06-large.jpg" class="media-image capsule" alt="user">
            </div>
            <h1 class="display-medium mt-3 mb-1">Anna Strong</h1>
            <h5 class="text-highlight-secondary mb-3">Senior Developer</h5>
          </div>
          <div class="action">
            <button class="btn btn-danger">Follow</button>
            <button class="btn btn-light">Message</button>
          </div>
          <div class="stats">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4">
                  <h2 class="mb-0 text-weight-600">322</h2>
                  <h5 class="m-0 text-highlight-secondary">Uploads</h5>
                </div>
                <div class="col-md-4">
                  <h2 class="mb-0 text-weight-600">1.2k</h2>
                  <h5 class="m-0 text-highlight-secondary">Followers</h5>
                </div>
                <div class="col-md-4">
                  <h2 class="mb-0 text-weight-600">736</h2>
                  <h5 class="m-0 text-highlight-secondary">Following</h5>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="col-md-4">
      <div class="rg-card-social-media rg-card-action light equal-height">
        <header>
          <div class="heading">
            <h5>Social Media card light</h5>
          </div>
          <div class="inline-actions">
            <span class="material-icons error">favorite</span>
          </div>
        </header>
        <section class="text-center">
          <div class="user-details">
            <div class="user-pic">
              <img src="../images/users/user-05-large.jpg" class="media-image capsule" alt="user">
            </div>
            <h1 class="display-medium mt-3 mb-1">Anna Strong</h1>
            <h5 class="text-highlight-secondary mb-3">Senior Developer</h5>
          </div>
          <div class="action">
            <button class="btn btn-danger">Follow</button>
            <button class="btn btn-light">Message</button>
          </div>
          <div class="stats">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4">
                  <h2 class="mb-0 text-weight-600">322</h2>
                  <h5 class="m-0 text-highlight-secondary">Uploads</h5>
                </div>
                <div class="col-md-4">
                  <h2 class="mb-0 text-weight-600">1.2k</h2>
                  <h5 class="m-0 text-highlight-secondary">Followers</h5>
                </div>
                <div class="col-md-4">
                  <h2 class="mb-0 text-weight-600">736</h2>
                  <h5 class="m-0 text-highlight-secondary">Following</h5>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="rg-card-ecommerce rg-card-action light equal-height">
    <header>

      <div class="heading">
        <h5>Ecommerce card</h5>
      </div>
      <div class="inline-actions">
        <span class="material-icons info">favorite</span>
      </div>
    </header>
    <section>
      <div class="product-details">
        <div class="product-pic text-center">
          <img src="../images/ecommerce/product-01-large.png" class="media-image rounded-corner extra-large" alt="product">
        </div>
        <div class="product-description">
          <div class="product-heading align-items-center">
            <h2 class="text-weight-600">$ 104</h2>
            <div class="rating ml-auto">
              <span class="material-icons">star star star star star_half</span>
            </div>
          </div>
          <h5 class="text-highlight-secondary text-weight-600">AKG Light, sterio bass</h5>
          <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, ipsum dolor</p>
        </div>
      </div>
      <div class="action">
        <button class="btn btn-danger">Add to Card</button>
        <button class="btn btn-light">Add to Wishlist</button>
      </div>
    </section>
  </div>
    </div>
    <div class="col-md-4">
      <div class="rg-card-ecommerce rg-card-action light equal-height">
    <header>

      <div class="heading">
        <h5>Ecommerce card</h5>
      </div>
      <div class="inline-actions">
        <span class="material-icons info">favorite</span>
      </div>
    </header>
    <section>
      <div class="product-details">
        <div class="product-pic text-center">
          <img src="../images/ecommerce/product-02-large.png" class="media-image rounded-corner extra-large" alt="product">
        </div>
        <div class="product-description">
          <div class="product-heading align-items-center">
            <h2 class="text-weight-600">$ 104</h2>
            <div class="rating ml-auto">
              <span class="material-icons">star star star star star_half</span>
            </div>
          </div>
          <h5 class="text-highlight-secondary text-weight-600">AKG Light, sterio bass</h5>
          <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, ipsum dolor</p>
        </div>
      </div>
      <div class="action">
        <button class="btn btn-danger">Add to Card</button>
        <button class="btn btn-light">Add to Wishlist</button>
      </div>
    </section>
  </div>
    </div>
    <div class="col-md-4">
      <div class="rg-card-ecommerce rg-card-action light equal-height">
    <header>

      <div class="heading">
        <h5>Ecommerce card</h5>
      </div>
      <div class="inline-actions">
        <span class="material-icons info">favorite</span>
      </div>
    </header>
    <section>
      <div class="product-details">
        <div class="product-pic text-center">
          <img src="../images/ecommerce/product-03-large.png" class="media-image rounded-corner extra-large" alt="product">
        </div>
        <div class="product-description">
          <div class="product-heading align-items-center">
            <h2 class="text-weight-600">$ 104</h2>
            <div class="rating ml-auto">
              <span class="material-icons">star star star star star_half</span>
            </div>
          </div>
          <h5 class="text-highlight-secondary text-weight-600">AKG Light, sterio bass</h5>
          <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, ipsum dolor</p>
        </div>
      </div>
      <div class="action">
        <button class="btn btn-danger">Add to Card</button>
        <button class="btn btn-light">Add to Wishlist</button>
      </div>
    </section>
  </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="rg-card-statistics no-header highlight-primary">
  <section>
    <div class="row">
      <div class="col-md-6">
        <div class="statistics-data pl-4">
          <h2 class="display-large text-highlight-primary mb-1">560+</h2>
          <h4 class="text-highlight-primary mb-0">UI Elements</h4>
        </div>
      </div>
      <div class="col-md-6">
        <div class="statistics-map text-center">
          <canvas id="statistics-card-chart" style="width: 150px;height: 120px;"></canvas>
        </div>
      </div>
    </div>
  </section>
</div>
    </div>
    <div class="col-md-4">
      <div class="rg-card-statistics no-header highlight-error">
        <section>
          <div class="row">
            <div class="col-md-6">
              <div class="statistics-data pl-4">
                <h2 class="display-large text-highlight-error mb-1">32+</h2>
                <h4 class="text-highlight-error mb-0">Ready Demos</h4>
              </div>
            </div>
            <div class="col-md-6">
              <div class="statistics-map text-center">
                <canvas id="statistics-card-chart2" style="width: 150px;height: 120px;"></canvas>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="col-md-4">
      <div class="rg-card-statistics no-header highlight-success">
        <section>
          <div class="row">
            <div class="col-md-6">
              <div class="statistics-data pl-4">
                <h2 class="display-large text-highlight-success mb-1">250+</h2>
                <h4 class="text-highlight-success mb-0">New Clients</h4>
              </div>
            </div>
            <div class="col-md-6">
              <div class="statistics-map text-center">
                <canvas id="statistics-card-chart3" style="width: 150px;height: 100px;"></canvas>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="rg-card-action equal-height rg-card-highlight-header heightlight-primary">
        <header>
          <div class="inline-actions">
            <span class="material-icons link" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">more_horiz</span>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Day</a>
              <a class="dropdown-item" href="#">Week</a>
              <a class="dropdown-item" href="#">Month</a>
            </div>
          </div>
          <div class="heightlight-content floating-highlight-content">
            <h1 class=" display-extra-large mb-0">12,540</h1>
            <div class="mb-3">
              <span class="material-icons h5 text-highlight-primary-inverse">show_chart</span>
              <span class="h5 text-highlight-primary-inverse ml-2">321 (2.05%)</span>
            </div>
          </div>
        </header>
        <section>
          <div class="rg-user-list">
    <div class="rg-user-list-item">
    <div class="user-pic">
      <img src="../images/users/user-01-large.jpg" class="media-image round small" alt="user">
    </div>
    <div class="user-details">
      <h6 class="mb-0">John Doe</h6>
      <p class="text-highlight-secondary">Front-end Developer, Tech</p>
    </div>
    <div class="user-action">
      <span class="rg-badge rg-badge-round-lg-text rg-badge-md rg-badge-success">Active</span>
      <span class="material-icons text-highlight-secondary ml-4">person_add</span>
      <span class="material-icons text-highlight-secondary ml-2">face</span>
    </div>
  </div>

    <div class="rg-user-list-item">
    <div class="user-pic">
      <img src="../images/users/user-02-large.jpg" class="media-image round small" alt="user">
    </div>
    <div class="user-details">
      <h6 class="mb-0">David Strong</h6>
      <p class="text-highlight-secondary">Product Manager, Design</p>
    </div>
    <div class="user-action">
      <span class="rg-badge rg-badge-round-lg-text rg-badge-md rg-badge-info">Full time</span>
      <span class="material-icons text-highlight-secondary ml-4">person_add</span>
      <span class="material-icons text-highlight-secondary ml-2">face</span>
    </div>
  </div>

    <div class="rg-user-list-item">
    <div class="user-pic">
      <img src="../images/users/user-03-large.jpg" class="media-image round small" alt="user">
    </div>
    <div class="user-details">
      <h6 class="mb-0">Anna Will</h6>
      <p class="text-highlight-secondary">Senior Developer, Technology</p>
    </div>
    <div class="user-action">
      <span class="rg-badge rg-badge-round-lg-text rg-badge-md rg-badge-error">Part time</span>
      <span class="material-icons text-highlight-secondary ml-4">person_add</span>
      <span class="material-icons text-highlight-secondary ml-2">face</span>
    </div>
  </div>

    <div class="rg-user-list-item">
    <div class="user-pic">
      <img src="../images/users/user-04-large.jpg" class="media-image round small" alt="user">
    </div>
    <div class="user-details">
      <h6 class="mb-0">Lita Strew</h6>
      <p class="text-highlight-secondary">Designer, UX</p>
    </div>
    <div class="user-action">
      <span class="rg-badge rg-badge-round-lg-text rg-badge-md rg-badge-warning">Follow</span>
      <span class="material-icons text-highlight-secondary ml-4">person_add</span>
      <span class="material-icons text-highlight-secondary ml-2">face</span>
    </div>
  </div>

    <div class="rg-user-list-item">
    <div class="user-pic">
      <img src="../images/users/user-05-large.jpg" class="media-image round small" alt="user">
    </div>
    <div class="user-details">
      <h6 class="mb-0">Emma Gellr</h6>
      <p class="text-highlight-secondary">Business Analyst, Products</p>
    </div>
    <div class="user-action">
      <span class="rg-badge rg-badge-round-lg-text rg-badge-md rg-badge-info">In Active</span>
      <span class="material-icons text-highlight-secondary ml-4">person_add</span>
      <span class="material-icons text-highlight-secondary ml-2">face</span>
    </div>
  </div>

  </div>
        </section>
      </div>
    </div>
    <div class="col-md-4">
      <div class="rg-card-simple user-card">
        <header>
          <div class="user-wall-image">
            <img src="../images/blog/blog-05-large.jpg" alt="Wall"/>
          </div>
          <div class="user-image">
            <img src="../images/users/user-09-large.jpg" class="media-image round large" alt="User"/>
          </div>
        </header>
        <section class="pt-5">
          <div class="text-center mb-3">
            <h2 class="mt-3 mb-0">Json Muller</h2>
            <p class="text-highlight-secondary mb-0">Principal Engineer, Product Development</p>
          </div>
          <div class="social-media text-center mt-4 mb-4">
              <i class="fab fa-twitter-square text-highlight-info ml-2 mr-2"></i>
              <i class="fab fa-facebook-square text-highlight-info ml-2 mr-2"></i>
              <i class="fab fa-instagram text-highlight-primary ml-2 mr-2"></i>
          </div>
          <div class="user-stats row">
            <div class="col-md-4 text-center">
              <h2 class="text-highlight-secondary mb-0">150</h2>
              <p class="text-highlight-secondary display-extra-small mb-0">Deliveries</p>
            </div>
            <div class="col-md-4 text-center">
              <h2 class="text-highlight-secondary mb-0">36</h2>
              <p class="text-highlight-secondary display-extra-small mb-0">Discussions</p>
            </div>
            <div class="col-md-4 text-center">
              <h2 class="text-highlight-secondary mb-0">1,235</h2>
              <p class="text-highlight-secondary display-extra-small mb-0">Followers</p>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="col-md-4">
      <div class="rg-card-simple rg-card-chart-elated no-header">
        <section>
          <div id="chart" class="elated-chart">
            <canvas id="chart4"></canvas>
          </div>
          <div class="statistics">
            <div class="row">
              <div class="col-lg-6 count">
                <h2 class="display-large text-highlight-primary mb-0">252+</h2>
                <h4 class="text-highlight-primary">New Clients</h4>
              </div>
              <div class="col-lg-6 chart">
                <canvas id="chart5" style="width: 150px;height: 120px;"></canvas>
              </div>
            </div>
          </div>
          <div class="time d-flex align-items-center mt-3 pt-3">
            <span class="text-highlight-secondary">Today 2:25am</span>
            <a href="#" class="btn btn-secondary btn-elevated ml-auto">Download</a>
          </div>
          <div class="stat-blocks d-flex mt-3">
            <div class="text-block d-flex align-items-center mr-3">
              <div class="icon text-highlight-secondary p-3">
                <i class="fab fa-stack-overflow"></i>
              </div>
              <div>
                <h2 class="mb-0 text-highlight-secondary">64</h2>
                <h5 class="mb-0 text-highlight-secondary">Questions</h5>
              </div>
            </div>
            <div class="text-block d-flex align-items-center">
              <div class="icon text-highlight-secondary p-3">
                <i class="fab fa-github"></i>
              </div>
              <div>
                <h2 class="mb-0 text-highlight-secondary">154</h2>
                <h5 class="mb-0 text-highlight-secondary">Repos</h5>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="rg-card-simple">
        <header>
          <h5>Monthly earning statistics</h5>
        </header>
        <section>
          <div id="chart">
            <div id="amBarChart"></div>
          </div>
          <div class="expences-list">
            <div class="d-flex mb-3">
              <p class="text-highlight-secondary mb-0">Project Deliveries</p>
              <h4 class="ml-auto mb-0">1500</h4>
            </div>
            <div class="d-flex mb-3">
              <p class="text-highlight-secondary mb-0">Estimated Total Hours</p>
              <h4 class="ml-auto mb-0">1652</h4>
            </div>
            <div class="d-flex mb-3">
              <p class="text-highlight-secondary mb-0">Happy Customers around the world</p>
              <h4 class="ml-auto mb-0">1068</h4>
            </div>
            <div class="d-flex mb-3">
              <p class="text-highlight-secondary mb-0">Number of active customers</p>
              <h4 class="ml-auto mb-0">690</h4>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="col-md-2">
      <div class="rg-card-numbers no-header">
        <section class="text-center">
          <i class="material-icons rg-badge rg-badge-xl rg-badge-round rg-badge-highlight rg-badge-highlight-warning mt-3 mb-3">person_add</i>
          <h2 class="mb-0 text-highlight-warning">150</h2>
          <h5 class="mb-0 text-highlight-warning">Contacts</h5>
        </section>  
      </div>
    </div>
    <div class="col-md-2">
      <div class="rg-card-numbers no-header">
        <section class="text-center">
          <i class="material-icons rg-badge rg-badge-xl rg-badge-round rg-badge-highlight rg-badge-highlight-primary mt-3 mb-3">card_giftcard</i>
          <h2 class="mb-0 text-highlight-primary">120</h2>
          <h5 class="mb-0 text-highlight-primary">Gifts</h5>
        </section>  
      </div>
    </div>
    <div class="col-md-3">
      <div class="rg-card-numbers no-header">
        <section class="d-flex align-items-center">
          <div class="mr-3">
          <i class="material-icons rg-badge rg-badge-xl rg-badge-round rg-badge-highlight rg-badge-highlight-error ml-3 mr-3">airplanemode_active</i>
          </div>
          <div>
            <h2 class="mb-0 text-highlight-error">5420</h2>
            <h5 class="mb-0 text-highlight-error">Project Deliveris</h5>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>