
                <div>
  <nav class="rg-breadcrumb" aria-label="breadcrumb">
    <h4 class="text-highlight-primary">Lists</h4>
    <ol class="breadcrumb">
      <li class="breadcrumb-item breadcrumb-item-first"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="#">Lists</a></li>
    </ol>
    <button class="btn btn-secondary btn-icon ml-auto btn-small"><span class="material-icons">settings_applications</span></button>
  </nav> 
  <div class="row">
    <div class="col-lg-6">
      <div class="rg-card-simple equal-height">
        <header>
          <h5>Activity timeline</h5>
        </header>
        <section>
          <div class="rg-timeline">
    <div class="rg-timeline-event">
      <div class="rg-timeline-event-left">
        <img src="../images/users/user-01-large.jpg" class="media-image round extra-small" alt="user">
        <div class="ml-2">
          <h6 class="mb-0 display-extra-small">Robert Snow</h6>
          <h6 class="text-highlight-secondary">08:00 am</h6>
        </div>
      </div>
      <span class="rg-timeline-event-bullet bullet-primary"></span>
      <div class="rg-timeline-event-right">
        <p class="mb-0">Scrum meeting with product owner team. Discuss the future road map of the product</p>
        <img src="../images/users/user-06-large.jpg" class="media-image round extra-small" alt="user">
        <img src="../images/users/user-04-large.jpg" class="media-image round extra-small" alt="user">
        <img src="../images/users/user-03-large.jpg" class="media-image round extra-small" alt="user">
      </div>
    </div>
    <div class="rg-timeline-event">
      <div class="rg-timeline-event-left">
        <img src="../images/users/user-02-large.jpg" class="media-image round extra-small" alt="user">
        <div class="ml-2">
          <h6 class="mb-0 display-extra-small">John Willian</h6>
          <h6 class="text-highlight-secondary">09:00 am</h6>
        </div>
      </div>
      <span class="rg-timeline-event-bullet bullet-secondary"></span>
      <div class="rg-timeline-event-right">
        <h6>Skype Meeting With Product owner and scrum master</h6>
      </div>
    </div>
    <div class="rg-timeline-event">
      <div class="rg-timeline-event-left">
        <img src="../images/users/user-03-large.jpg" class="media-image round extra-small" alt="user">
        <div class="ml-2">
          <h6 class="mb-0 display-extra-small">Lisa Coox</h6>
          <h6 class="text-highlight-secondary">10:00 am</h6>
        </div>
      </div>
      <span class="rg-timeline-event-bullet bullet-dark"></span>
      <div class="rg-timeline-event-right">
        <p>Manage the production pipeline flow, and document the knowledge sharing session details.</p>
      </div>
    </div>
    <div class="rg-timeline-event">
      <div class="rg-timeline-event-left">
        <img src="../images/users/user-04-large.jpg" class="media-image round extra-small" alt="user">
        <div class="ml-2">
          <h6 class="mb-0 display-extra-small">Britney Ramon</h6>
          <h6 class="text-highlight-secondary">11:00 am</h6>
        </div>
      </div>
      <span class="rg-timeline-event-bullet bullet-warning"></span>
      <div class="rg-timeline-event-right">
        <p>Placed a new order in <a href="javascript:void(0);">SIGNATURE MOBILE</a> marketplace.</p>
      </div>
    </div>
    <div class="rg-timeline-event">
      <div class="rg-timeline-event-left">
        <img src="../images/users/user-05-large.jpg" class="media-image round extra-small" alt="user">
        <div class="ml-2">
          <h6 class="mb-0 display-extra-small">Silvia</h6>
          <h6 class="text-highlight-secondary">12:00 am</h6>
        </div>
      </div>
      <span class="rg-timeline-event-bullet bullet-info"></span>
      <div class="rg-timeline-event-right">
        <p>Received a new feedback on <a href="javascript:void(0);">FinancePro</a> App product.</p>
      </div>
    </div>
    <div class="rg-timeline-event">
      <div class="rg-timeline-event-left">
        <img src="../images/users/user-08-large.jpg" class="media-image round extra-small" alt="user">
        <div class="ml-2">
          <h6 class="mb-0 display-extra-small">Joey Santosa</h6>
          <h6 class="text-highlight-secondary">14:00 am</h6>
        </div>
      </div>
      <span class="rg-timeline-event-bullet bullet-success"></span>
      <div class="rg-timeline-event-right">
        <p>New notification message has been received on <a href="javascript:void(0);">LoopFin Pro
            product.</a></p>
      </div>
    </div>
    <div class="rg-timeline-event">
      <div class="rg-timeline-event-left">
        <img src="../images/users/user-09-large.jpg" class="media-image round extra-small" alt="user">
        <div class="ml-2">
          <h6 class="mb-0 display-extra-small">Davis Coox</h6>
          <h6 class="text-highlight-secondary">18:00 am</h6>
        </div>
      </div>
      <span class="rg-timeline-event-bullet bullet-error"></span>
      <div class="rg-timeline-event-right">
        <p>Make Deposit <span class="text-error">USD 700</span> To ESL. Lorem ipsum dolor sit
          amit,consectetur eiusmdd tempor incididunt ut labore et dolore Lorem ipsum dolor sit amit</p>
      </div>
    </div>
  </div>
        </section>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="rg-card-simple equal-height">
        <header>
          <h5>Daily task</h5>
        </header>
        <section>
          <div class="rg-task-list">
    <div class="rg-task-list-item">
    <div class="task-checkbox">
      <div class="form-group custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="dailyTaskCheckbox1">
        <label class="custom-control-label" for="dailyTaskCheckbox1"></label>
      </div>
    </div>
    <div class="mr-3">
      <h6 class="text-info mb-0">#722</h6>
    </div>
    <div class="task-details mr-2">
      <p>Submit backlog reports to John Doe by  <span class="text-warning">Monday 12th Feb 2020</span></p>
    </div>
    <div class="material-icons text-highlight-secondary mr-2 ml-auto">calendar_today</div>
    <div class="time text-highlight-error mr-2">Today 3pm</div>
    <div class="material-icons text-highlight-error">arrow_upward</div>
  </div>

    <div class="rg-task-list-item">
    <div class="task-checkbox">
      <div class="form-group custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="dailyTaskCheckbox1">
        <label class="custom-control-label" for="dailyTaskCheckbox1"></label>
      </div>
    </div>
    <div class="mr-3">
      <h6 class="text-info mb-0">#177</h6>
    </div>
    <div class="task-details mr-2">
      <p>Make Template a Top selling theme <span class="text-warning"></span></p>
    </div>
    <div class="material-icons text-highlight-secondary mr-2 ml-auto">calendar_today</div>
    <div class="time text-highlight-error mr-2">Today 6pm</div>
    <div class="material-icons text-highlight-error">arrow_upward</div>
  </div>

    <div class="rg-task-list-item">
    <div class="task-checkbox">
      <div class="form-group custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="dailyTaskCheckbox1">
        <label class="custom-control-label" for="dailyTaskCheckbox1"></label>
      </div>
    </div>
    <div class="mr-3">
      <h6 class="text-info mb-0">#656</h6>
    </div>
    <div class="task-details mr-2">
      <p>Create all the demos till weekend and upload all the necessory data on server <span class="text-warning"></span></p>
    </div>
    <div class="material-icons text-highlight-secondary mr-2 ml-auto">calendar_today</div>
    <div class="time text-highlight-success mr-2">15th March</div>
    <div class="material-icons text-highlight-success">arrow_downward</div>
  </div>

    <div class="rg-task-list-item">
    <div class="task-checkbox">
      <div class="form-group custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="dailyTaskCheckbox1">
        <label class="custom-control-label" for="dailyTaskCheckbox1"></label>
      </div>
    </div>
    <div class="mr-3">
      <h6 class="text-info mb-0">#354</h6>
    </div>
    <div class="task-details mr-2">
      <p>Create all the demos till weekend and upload all the necessory data on server <span class="text-warning"></span></p>
    </div>
    <div class="material-icons text-highlight-secondary mr-2 ml-auto">calendar_today</div>
    <div class="time text-highlight-success mr-2">10th March</div>
    <div class="material-icons text-highlight-success">arrow_downward</div>
  </div>

    <div class="rg-task-list-item">
    <div class="task-checkbox">
      <div class="form-group custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="dailyTaskCheckbox1">
        <label class="custom-control-label" for="dailyTaskCheckbox1"></label>
      </div>
    </div>
    <div class="mr-3">
      <h6 class="text-info mb-0">#543</h6>
    </div>
    <div class="task-details mr-2">
      <p>Landing page data needs to be re verified <span class="text-warning"></span></p>
    </div>
    <div class="material-icons text-highlight-secondary mr-2 ml-auto">calendar_today</div>
    <div class="time text-highlight-secondary mr-2">21st April</div>
    <div class="material-icons text-highlight-secondary">arrow_upward</div>
  </div>

    <div class="rg-task-list-item">
    <div class="task-checkbox">
      <div class="form-group custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="dailyTaskCheckbox1">
        <label class="custom-control-label" for="dailyTaskCheckbox1"></label>
      </div>
    </div>
    <div class="mr-3">
      <h6 class="text-info mb-0">#576</h6>
    </div>
    <div class="task-details mr-2">
      <p>Make the presentation for Mr. John Doeand help him for the preparation <span class="text-warning"></span></p>
    </div>
    <div class="material-icons text-highlight-secondary mr-2 ml-auto">calendar_today</div>
    <div class="time text-highlight-success mr-2">20th March</div>
    <div class="material-icons text-highlight-success">arrow_downward</div>
  </div>

    <div class="rg-task-list-item">
    <div class="task-checkbox">
      <div class="form-group custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="dailyTaskCheckbox1">
        <label class="custom-control-label" for="dailyTaskCheckbox1"></label>
      </div>
    </div>
    <div class="mr-3">
      <h6 class="text-info mb-0">#101</h6>
    </div>
    <div class="task-details mr-2">
      <p>Data analysis and data plotting module needs a revisit <span class="text-warning"></span></p>
    </div>
    <div class="material-icons text-highlight-secondary mr-2 ml-auto">calendar_today</div>
    <div class="time text-highlight-secondary mr-2">25th March</div>
    <div class="material-icons text-highlight-secondary">arrow_downward</div>
  </div>

    <div class="rg-task-list-item">
    <div class="task-checkbox">
      <div class="form-group custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="dailyTaskCheckbox1">
        <label class="custom-control-label" for="dailyTaskCheckbox1"></label>
      </div>
    </div>
    <div class="mr-3">
      <h6 class="text-info mb-0">#333</h6>
    </div>
    <div class="task-details mr-2">
      <p>Differentiate our all demos from existing themes <span class="text-warning"></span></p>
    </div>
    <div class="material-icons text-highlight-secondary mr-2 ml-auto">calendar_today</div>
    <div class="time text-highlight-error mr-2">27th March</div>
    <div class="material-icons text-highlight-error">arrow_upward</div>
  </div>
    
  </div>
        </section>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="rg-card-simple equal-height">
        <header>
          <h5>User List</h5>
        </header>
        <section>
          <div class="rg-user-list">
    <div class="rg-user-list-item">
    <div class="user-pic">
      <img src="../images/users/user-01-large.jpg" class="media-image round small" alt="user">
    </div>
    <div class="user-details">
      <h6 class="mb-0">John Doe</h6>
      <p class="text-highlight-secondary">Front-end Developer, Tech</p>
    </div>
    <div class="user-action">
      <span class="rg-badge rg-badge-round-lg-text rg-badge-md rg-badge-success">Active</span>
      <span class="material-icons text-highlight-secondary ml-4">person_add</span>
      <span class="material-icons text-highlight-secondary ml-2">face</span>
    </div>
  </div>

    <div class="rg-user-list-item">
    <div class="user-pic">
      <img src="../images/users/user-02-large.jpg" class="media-image round small" alt="user">
    </div>
    <div class="user-details">
      <h6 class="mb-0">David Strong</h6>
      <p class="text-highlight-secondary">Product Manager, Design</p>
    </div>
    <div class="user-action">
      <span class="rg-badge rg-badge-round-lg-text rg-badge-md rg-badge-info">Full time</span>
      <span class="material-icons text-highlight-secondary ml-4">person_add</span>
      <span class="material-icons text-highlight-secondary ml-2">face</span>
    </div>
  </div>

    <div class="rg-user-list-item">
    <div class="user-pic">
      <img src="../images/users/user-03-large.jpg" class="media-image round small" alt="user">
    </div>
    <div class="user-details">
      <h6 class="mb-0">Anna Will</h6>
      <p class="text-highlight-secondary">Senior Developer, Technology</p>
    </div>
    <div class="user-action">
      <span class="rg-badge rg-badge-round-lg-text rg-badge-md rg-badge-error">Part time</span>
      <span class="material-icons text-highlight-secondary ml-4">person_add</span>
      <span class="material-icons text-highlight-secondary ml-2">face</span>
    </div>
  </div>

    <div class="rg-user-list-item">
    <div class="user-pic">
      <img src="../images/users/user-04-large.jpg" class="media-image round small" alt="user">
    </div>
    <div class="user-details">
      <h6 class="mb-0">Lita Strew</h6>
      <p class="text-highlight-secondary">Designer, UX</p>
    </div>
    <div class="user-action">
      <span class="rg-badge rg-badge-round-lg-text rg-badge-md rg-badge-warning">Follow</span>
      <span class="material-icons text-highlight-secondary ml-4">person_add</span>
      <span class="material-icons text-highlight-secondary ml-2">face</span>
    </div>
  </div>

    <div class="rg-user-list-item">
    <div class="user-pic">
      <img src="../images/users/user-05-large.jpg" class="media-image round small" alt="user">
    </div>
    <div class="user-details">
      <h6 class="mb-0">Emma Gellr</h6>
      <p class="text-highlight-secondary">Business Analyst, Products</p>
    </div>
    <div class="user-action">
      <span class="rg-badge rg-badge-round-lg-text rg-badge-md rg-badge-info">In Active</span>
      <span class="material-icons text-highlight-secondary ml-4">person_add</span>
      <span class="material-icons text-highlight-secondary ml-2">face</span>
    </div>
  </div>

  </div>
        </section>
      </div>
    </div>
    <div class="col-md-6">
      <div class="rg-card-simple equal-height">
        <header>
          <h5>Notification list</h5>
        </header>
        <section>
          <div class="rg-notification-list">

    <div class="rg-notification-list-item">
    <div class="notification-icon"><span class="material-icons success">photo</span></div>
    <div class="notification-details">
      <h6 class="mb-0">New Order has been placed</h6>
      <span>3 hours ago</span>
    </div>
    <div class="notification-action material-icons">keyboard_arrow_right</div>
  </div>

    <div class="rg-notification-list-item">
    <div class="notification-icon"><span class="material-icons error">settings</span></div>
    <div class="notification-details">
      <h6 class="mb-0">Mark has updated the sales settings</h6>
      <span>4 hours ago</span>
    </div>
    <div class="notification-action material-icons">keyboard_arrow_right</div>
  </div>

    <div class="rg-notification-list-item">
    <div class="notification-icon"><span class="material-icons warning">inbox</span></div>
    <div class="notification-details">
      <h6 class="mb-0">Sandbox has new updates</h6>
      <span>7 hours ago</span>
    </div>
    <div class="notification-action material-icons">keyboard_arrow_right</div>
  </div>

    <div class="rg-notification-list-item">
    <div class="notification-icon"><span class="material-icons success">perm_contact_calendar</span></div>
    <div class="notification-details">
      <h6 class="mb-0">User engagement programm event has started</h6>
      <span>12 hours ago</span>
    </div>
    <div class="notification-action material-icons">keyboard_arrow_right</div>
  </div>

    <div class="rg-notification-list-item">
    <div class="notification-icon"><span class="material-icons info">shopping_cart</span></div>
    <div class="notification-details">
      <h6 class="mb-0">Purchase Template template</h6>
      <span>13 hours ago</span>
    </div>
    <div class="notification-action material-icons">keyboard_arrow_right</div>
  </div>

  </div>

        </section>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="rg-card-simple equal-height">
        <header>
          <h5>Messages List</h5>
        </header>
        <section>
          <div class="rg-message-list">
    
  <div class="rg-message-list-item">
    <div class="user-pic">
      <img src="../images/users/user-07-large.jpg" class="media-image rounded-corner small" alt="user">
    </div>
    <div class="message-details">
      <h6 class="mb-2">
        <span>John Doe</span>
        <span class="rg-badge rg-badge-round rg-badge-success ml-2">2</span> 
        <span class="text-highlight-secondary ml-auto">3 hours ago</span>
      </h6>
      <p class="text-highlight-secondary mb-0 message">
        <span class="material-icons text-highlight-success mr-2">record_voice_over</span>
        <span>Let us connect over zoom to discuss the priorities</span>
      </p>
    </div>
  </div>

  <div class="rg-message-list-item">
    <div class="user-pic">
      <img src="../images/users/user-08-large.jpg" class="media-image rounded-corner small" alt="user">
    </div>
    <div class="message-details">
      <h6 class="mb-2">
        <span>Mike Doe</span>
        <span class="rg-badge rg-badge-round rg-badge-success ml-2">5</span> 
        <span class="text-highlight-secondary ml-auto">3 hours ago</span>
      </h6>
      <p class="text-highlight-secondary mb-0 message">
        <span class="material-icons text-highlight-error mr-2">voice_chat</span>
        <span>Designs has been sent to the developers</span>
      </p>
    </div>
  </div>

  <div class="rg-message-list-item">
    <div class="user-pic">
      <img src="../images/users/user-09-large.jpg" class="media-image rounded-corner small" alt="user">
    </div>
    <div class="message-details">
      <h6 class="mb-2">
        <span>Will Strong</span>
        <span class="rg-badge rg-badge-round rg-badge-success ml-2">3</span> 
        <span class="text-highlight-secondary ml-auto">3 hours ago</span>
      </h6>
      <p class="text-highlight-secondary mb-0 message">
        <span class="material-icons text-highlight-warning mr-2">local_phone</span>
        <span>Order has been delivered to the warehous</span>
      </p>
    </div>
  </div>

  <div class="rg-message-list-item">
    <div class="user-pic">
      <img src="../images/users/user-02-large.jpg" class="media-image rounded-corner small" alt="user">
    </div>
    <div class="message-details">
      <h6 class="mb-2">
        <span>Michael Clerk</span>
        <span class="rg-badge rg-badge-round rg-badge-success ml-2">2</span> 
        <span class="text-highlight-secondary ml-auto">3 hours ago</span>
      </h6>
      <p class="text-highlight-secondary mb-0 message">
        <span class="material-icons text-highlight-info mr-2">insert_comment</span>
        <span>Need updated sales report by end of week</span>
      </p>
    </div>
  </div>

  <div class="rg-message-list-item">
    <div class="user-pic">
      <img src="../images/users/user-01-large.jpg" class="media-image rounded-corner small" alt="user">
    </div>
    <div class="message-details">
      <h6 class="mb-2">
        <span>Labuscene</span>
        <span class="rg-badge rg-badge-round rg-badge-success ml-2">4</span> 
        <span class="text-highlight-secondary ml-auto">3 hours ago</span>
      </h6>
      <p class="text-highlight-secondary mb-0 message">
        <span class="material-icons text-highlight-success mr-2">voice_chat</span>
        <span>Please postpone scheduled deliverables</span>
      </p>
    </div>
  </div>

  
  </div>
        </section>
      </div>
    </div>
    <div class="col-md-6">
      <div class="rg-card-simple equal-height">
        <header>
          <h5>Blog list</h5>
        </header>
        <section>
          <div class="rg-blog-list">
   <div class="rg-blog-list-item">
    <div class="blog-pic">
      <img src="../images/blog/blog-02-large.jpg" class="media-blog-image rounded-corner extra-small" alt="user">
    </div>
    <div class="blog-details">
      <h6 class="mb-0">Template is becoming worlds No 1 theme</h6>
      <p class="text-highlight-secondary">8 hours ago</p>
    </div>
    <div class="blog-action">
      <span class="rg-badge rg-badge-lg rg-badge-secondary">Template</span>
    </div>
  </div>  

   <div class="rg-blog-list-item">
    <div class="blog-pic">
      <img src="../images/blog/blog-03-large.jpg" class="media-blog-image rounded-corner extra-small" alt="user">
    </div>
    <div class="blog-details">
      <h6 class="mb-0">Multiple Demos in Template monarch Admin Template</h6>
      <p class="text-highlight-secondary">2 hours ago</p>
    </div>
    <div class="blog-action">
      <span class="rg-badge rg-badge-lg rg-badge-error">Demos</span>
    </div>
  </div>  

   <div class="rg-blog-list-item">
    <div class="blog-pic">
      <img src="../images/blog/blog-04-large.jpg" class="media-blog-image rounded-corner extra-small" alt="user">
    </div>
    <div class="blog-details">
      <h6 class="mb-0">Coding standards and simple implementation</h6>
      <p class="text-highlight-secondary">3 hours ago</p>
    </div>
    <div class="blog-action">
      <span class="rg-badge rg-badge-lg rg-badge-success">Dev</span>
    </div>
  </div>  

   <div class="rg-blog-list-item">
    <div class="blog-pic">
      <img src="../images/blog/blog-05-large.jpg" class="media-blog-image rounded-corner extra-small" alt="user">
    </div>
    <div class="blog-details">
      <h6 class="mb-0">All flavours of Front-end development</h6>
      <p class="text-highlight-secondary">9 hours ago</p>
    </div>
    <div class="blog-action">
      <span class="rg-badge rg-badge-lg rg-badge-info">SD</span>
    </div>
  </div>  

   <div class="rg-blog-list-item">
    <div class="blog-pic">
      <img src="../images/blog/blog-02-large.jpg" class="media-blog-image rounded-corner extra-small" alt="user">
    </div>
    <div class="blog-details">
      <h6 class="mb-0">Creating wireframes</h6>
      <p class="text-highlight-secondary">5 hours ago</p>
    </div>
    <div class="blog-action">
      <span class="rg-badge rg-badge-lg rg-badge-warning">UX</span>
    </div>
  </div>  
  
  </div>
        </section>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="rg-card-simple equal-height">
        <header>
          <h5>Chart list</h5>
        </header>
        <section>
          <div class="rg-chart-list">
    <div class="rg-chart-list-item">
    <div class="chart">
      <canvas id="chart1"></canvas>
    </div>
    <div class="chart-details">
      <h6 class="mb-0">User inbound and outbound chart</h6>
      <p class="text-highlight-secondary">Recent 1day Data</p>
    </div>
    <div class="chart-statistics ml-auto">
      <div class="statistics-data">
        <h5 class="text-highlight-error mb-0">100</h5>
        <span class="material-icons text-highlight-error text-extra-large">arrow_upward</span>
      </div>
      <div class="statistics-data">
        <span class="text-highlight-secondary">Inbound</span>
      </div>
    </div>
    <div class="chart-statistics ml-3">
      <div class="statistics-data">
        <h5 class="text-highlight-success mb-0">200</h5>
        <span class="material-icons text-highlight-success text-extra-large">arrow_downward</span>
      </div>
      <div class="statistics-data">
        <span class="text-highlight-secondary">Outbound</span>
      </div>
    </div>
  </div>
    
    <div class="rg-chart-list-item">
    <div class="chart">
      <canvas id="chart2"></canvas>
    </div>
    <div class="chart-details">
      <h6 class="mb-0">User demographic chart</h6>
      <p class="text-highlight-secondary">Recent 7day Data</p>
    </div>
    <div class="chart-statistics ml-auto">
      <div class="statistics-data">
        <h5 class="text-highlight-error mb-0">150</h5>
        <span class="material-icons text-highlight-error text-extra-large">arrow_upward</span>
      </div>
      <div class="statistics-data">
        <span class="text-highlight-secondary">Male</span>
      </div>
    </div>
    <div class="chart-statistics ml-3">
      <div class="statistics-data">
        <h5 class="text-highlight-success mb-0">50</h5>
        <span class="material-icons text-highlight-success text-extra-large">arrow_downward</span>
      </div>
      <div class="statistics-data">
        <span class="text-highlight-secondary">Female</span>
      </div>
    </div>
  </div>

    <div class="rg-chart-list-item">
    <div class="chart">
      <canvas id="chart3"></canvas>
    </div>
    <div class="chart-details">
      <h6 class="mb-0">Percentile vs Numeric data</h6>
      <p class="text-highlight-secondary">Recent 4day Data</p>
    </div>
    <div class="chart-statistics ml-auto">
      <div class="statistics-data">
        <h5 class="text-highlight-error mb-0">88</h5>
        <span class="material-icons text-highlight-error text-extra-large">arrow_upward</span>
      </div>
      <div class="statistics-data">
        <span class="text-highlight-secondary">Percentile</span>
      </div>
    </div>
    <div class="chart-statistics ml-3">
      <div class="statistics-data">
        <h5 class="text-highlight-success mb-0">34</h5>
        <span class="material-icons text-highlight-success text-extra-large">arrow_downward</span>
      </div>
      <div class="statistics-data">
        <span class="text-highlight-secondary">Numeric</span>
      </div>
    </div>
  </div>

    <div class="rg-chart-list-item">
    <div class="chart">
      <canvas id="chart4"></canvas>
    </div>
    <div class="chart-details">
      <h6 class="mb-0">Sales vs referral income</h6>
      <p class="text-highlight-secondary">Recent 2day Data</p>
    </div>
    <div class="chart-statistics ml-auto">
      <div class="statistics-data">
        <h5 class="text-highlight-error mb-0">234</h5>
        <span class="material-icons text-highlight-error text-extra-large">arrow_upward</span>
      </div>
      <div class="statistics-data">
        <span class="text-highlight-secondary">Sales</span>
      </div>
    </div>
    <div class="chart-statistics ml-3">
      <div class="statistics-data">
        <h5 class="text-highlight-success mb-0">657</h5>
        <span class="material-icons text-highlight-success text-extra-large">arrow_downward</span>
      </div>
      <div class="statistics-data">
        <span class="text-highlight-secondary">referral</span>
      </div>
    </div>
  </div>

</div>

        </section>
      </div>
    </div>
    <div class="col-md-6">
      <div class="rg-card-simple equal-height">
        <header>
          <h5>User Data list</h5>
        </header>
        <section>
          <div class="rg-user-data-list">
  <div class="rg-user-data-list-item">
    <div class="user-pic">
      <img src="../images/users/user-01-large.jpg" class="media-image rounded-corner small" alt="user">
    </div>
    <h6 class="mb-0 ml-3">Mike Doe</h6>
    <div class="progress medium ml-3">
      <div class="progress-bar success progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
    </div>
    <span class="text-highlight-secondary ml-auto">2/5/2020</span>
    <h5 class="text-highlight-success mb-0 ml-3">100</h5>
    <span class="material-icons text-highlight-success text-extra-large ">arrow_downward</span>
    <a href="#" class="ml-3">Manage</a>
  </div>  

  <div class="rg-user-data-list-item">
    <div class="user-pic">
      <img src="../images/users/user-02-large.jpg" class="media-image rounded-corner small" alt="user">
    </div>
    <h6 class="mb-0 ml-3">Will Strong</h6>
    <div class="progress medium ml-3">
      <div class="progress-bar error progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
    </div>
    <span class="text-highlight-secondary ml-auto">12/6/2020</span>
    <h5 class="text-highlight-error mb-0 ml-3">50</h5>
    <span class="material-icons text-highlight-error text-extra-large ">arrow_downward</span>
    <a href="#" class="ml-3">Manage</a>
  </div>  

  <div class="rg-user-data-list-item">
    <div class="user-pic">
      <img src="../images/users/user-03-large.jpg" class="media-image rounded-corner small" alt="user">
    </div>
    <h6 class="mb-0 ml-3">Labuscene</h6>
    <div class="progress medium ml-3">
      <div class="progress-bar info progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
    </div>
    <span class="text-highlight-secondary ml-auto">21/8/2020</span>
    <h5 class="text-highlight-info mb-0 ml-3">250</h5>
    <span class="material-icons text-highlight-info text-extra-large ">arrow_downward</span>
    <a href="#" class="ml-3">Manage</a>
  </div>  

  <div class="rg-user-data-list-item">
    <div class="user-pic">
      <img src="../images/users/user-04-large.jpg" class="media-image rounded-corner small" alt="user">
    </div>
    <h6 class="mb-0 ml-3">John Doe</h6>
    <div class="progress medium ml-3">
      <div class="progress-bar warning progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
    </div>
    <span class="text-highlight-secondary ml-auto">2/5/2020</span>
    <h5 class="text-highlight-warning mb-0 ml-3">444</h5>
    <span class="material-icons text-highlight-warning text-extra-large ">arrow_downward</span>
    <a href="#" class="ml-3">Manage</a>
  </div>  

</div>
        </section>
      </div>
    </div>
  </div>
</div>
<script src="~/js/component-list.js"></script>
  
  