<div>
  <nav class="rg-breadcrumb" aria-label="breadcrumb">
    <h4 class="text-primary">ChartJs</h4>
    <ol class="breadcrumb">
      <li class="breadcrumb-item breadcrumb-item-first"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="#">Charts</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="#">ChartJs</a></li>
    </ol>
    <button class="btn btn-secondary btn-icon ml-auto btn-small"><span class="material-icons">settings_applications</span></button>
  </nav> 
      <div class="row">
        <div class="col-lg-6">
            <div class="rg-card-simple equal-height">
              <header>
                <h5>chartJS Bar chart</h5>
              </header>
              <section>
                <canvas id="barChart" width="400" height="300"></canvas>
              </section>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="rg-card-simple equal-height">
              <header>
                <h5>chartJS Line chart</h5>
              </header>
              <section>
                <canvas id="lineChart" width="400" height="300"></canvas>
              </section>
            </div>
          </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
            <div class="rg-card-simple equal-height">
              <header>
                <h5>chartJS Scatter chart</h5>
              </header>
              <section>
                <canvas id="scatterChart" width="400" height="300"></canvas>
              </section>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="rg-card-simple equal-height">
              <header>
                <h5> chartJS - combo bar line chart</h5>
              </header>
              <section>
                <canvas id="combo-bar-line"></canvas>
              </section>
            </div>
          </div>
      </div>
     

</div>

<script src="~/js/charts.js"></script>