@{
    Layout = "_PublicLayout";
}
<div class="error-container">
    <h4 class="error-title">Error: 500 Internal Server Error</h4>
    <h1 class="error-code">500</h1>
    <p class="error-description">
        Sign in to enter the world of The most advanced and super rich admin panel template
    </p>
    <div class="text-center">
        <button class="btn btn-info btn-icon-text"><span class="material-icons">keyboard_backspace</span><span class="text">Go Back</span></button>
    </div>
</div>