
<div>
    <nav class="rg-breadcrumb" aria-label="breadcrumb">
        <h4 class="text-highlight-primary">Checkout</h4>
        <ol class="breadcrumb">
          <li class="breadcrumb-item breadcrumb-item-first"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="#">Ecommerce</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="#">Checkout</a></li>
        </ol>
        <button class="btn btn-secondary btn-icon ml-auto btn-small"><span class="material-icons">settings_applications</span></button>
      </nav>
      <div class="row">
        <div class="col-lg-8">
            <div class="rg-card-simple no-header">                        
                <section>
                    <div class="product-checkout">
                        <div class="product-img">
                            <img src="~/images/ecommerce/product-05-large.png" class="media-image full-width" alt="Product">
                        </div>
                        <div class="product-description">
                            <h4>Slick Stereo phone</h4>
                            <h6 class="text-highlight-secondary mb-2">AKG Light, sterio bass</h6>
                            <p class="ellipsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit, ipsum dolor</p>
                            <h6 class="text-highlight-success mb-2">In Stock</h6>
                            <div class="select-quantity mb-2">
                                <button type="button" class="btn btn-light btn-icon"><span class="material-icons">remove</span></button>
                                <input type="text" class="form-control" />
                                <button type="button" class="btn btn-secondary btn-icon"><span class="material-icons">add</span></button>
                            </div>
                            <h6 class="text-highlight-secondary">Delivery by, Wed Apr 15</h6>
                            <p class="text-success mb-0">17% off 4 offers available</p>
                        </div>
                        <div class="product-price">
                            <div>
                                <h2 class="text-weight-600">Rs. 1500</h2>
                                <h6> <del>Rs. 2500</del> </h6>
                                <h6 class="discount warning-text">(22% OFF)</h6>
                            </div>
                            <p class="text-success"> <i class="material-icons">shopping_cart</i> Free shipping</p>
                            <div class="action"> 
                                <button class="btn btn-danger mb-2">Add to cart</button>
                                <button class="btn btn-light">Add to Wishlist</button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="rg-card-simple no-header">                        
                <section>
                    <div class="product-checkout">
                        <div class="product-img">
                            <img src="~/images/ecommerce/product-04-large.png" class="media-image full-width" alt="Product">
                        </div>
                        <div class="product-description">
                            <h4>Slick Stereo phone</h4>
                            <h6 class="text-highlight-secondary mb-2">AKG Light, sterio bass</h6>
                            <p class="ellipsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit, ipsum dolor</p>
                            <h6 class="text-highlight-success mb-2">In Stock</h6>
                            <div class="select-quantity mb-2">
                                <button type="button" class="btn btn-light btn-icon"><span class="material-icons">remove</span></button>
                                <input type="text" class="form-control" />
                                <button type="button" class="btn btn-secondary btn-icon"><span class="material-icons">add</span></button>
                            </div>
                            <h6 class="text-highlight-secondary">Delivery by, Wed Apr 15</h6>
                            <p class="text-success mb-0">17% off 4 offers available</p>
                        </div>
                        <div class="product-price">
                            <div>
                                <h2 class="text-weight-600">Rs. 1500</h2>
                                <h6> <del>Rs. 2500</del> </h6>
                                <h6 class="discount text-highlight-success mb-2">(22% OFF)</h6>
                            </div>
                            <p class="text-success"> <i class="material-icons">shopping_cart</i> Free shipping</p>
                            <div class="action"> 
                                <button class="btn btn-danger mb-2">Add to cart</button>
                                <button class="btn btn-light">Add to Wishlist</button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="rg-card-simple billing-summary">    
                <header>
                    <h5>Coupons</h5>
                </header>            
                <section class="price-details">
                    <div class="coupon-section">
                        <i class="material-icons text-success">label</i>
                        <div class="coupon-code">
                            <h6>Extra10</h6>
                            <span class="text-success">you save $151</span>
                        </div>
                        <div class="ml-auto">
                            <button class="btn btn-outline btn-success">Apply Coupon</button>
                        </div>
                    </div>
                    <hr/>
                    <div class="price-breakdown">
                        <h6>Price Details</h6>
                        <div class="price">
                            <label>Total MRP</label>
                            <span>$100</span>
                        </div>
                        <div class="price">
                            <label>Big Discout</label>
                            <span class="text-success">$10</span>
                        </div>
                        <div class="price">
                            <label>Estimated Tax</label>
                            <span>$100</span>
                        </div>
                        <div class="price">
                            <label>EMI Eligibility</label>
                            <span>$100</span>
                        </div>
                        <div class="price">
                            <label>Delivery Charges</label>
                            <span class="text-success">Free</span>
                        </div>
                    </div>
                    <hr/>
                    <div class="total">
                        <label>Total</label>
                        <span>$100</span>
                    </div>
                    <button type="button" class="btn btn-danger">Place Order</button>
                </section>
            </div>
        </div>
      </div>
</div>