
<div>
    <nav class="rg-breadcrumb" aria-label="breadcrumb">
        <a href="javascript:void(0);" class="toggle-page-nav-button toggle-filters text-highlight-primary"><span class="material-icons">format_align_right</span></a> 
        <h4 class="text-highlight-primary">Product List</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item breadcrumb-item-first"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="#">Ecommerce</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="#">Product List</a></li>
        </ol>
        <button class="btn btn-secondary btn-icon ml-auto btn-small"><span class="material-icons">settings_applications</span></button>
    </nav>
    <div class="row">
        <div class="col-lg-3 col-md-12">
                <div class="rg-card-simple equal-height card-filters">
                    <a href="javascript:void(0);" class="toggle-filters text-highlight-primary"><span class="material-icons">clear</span></a>
                        <header class="mb-2">
                            <h5 class="text-highlight-secondary">Filters</h5>
                            <hr/>
                        </header>                        
                        <section>
                            <div>
                                <h5>Categories</h5>
                            </div>
                            <div>
                                <div id="accordion1" class="accordion list-accordion">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <button data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                    Mens
                                                    <i class="material-icons icon-collapse">chevron_right</i>
                                                    <i class="material-icons icon-expand">expand_more</i>
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion1">
                                            <div class="card-body">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="Mens-shoes" name="example1">
                                                        <label class="custom-control-label" for="Mens-shoes">Shoes</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="Mens-watches" name="example1">
                                                        <label class="custom-control-label" for="Mens-watches">Watches</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="Mens-jeans" name="example1">
                                                        <label class="custom-control-label" for="Mens-jeans">Jeans</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="Mens-jackets" name="example1">
                                                        <label class="custom-control-label" for="Mens-jackets">Jackets</label>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0">
                                                <button class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Womens
                                            <i class="material-icons icon-collapse">chevron_right</i>
                                                    <i class="material-icons icon-expand">expand_more</i>
                                            </button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion1">
                                            <div class="card-body">                                
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="Women-shoes" name="example1">
                                                        <label class="custom-control-label" for="Women-shoes">Shoes</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="Women-watches" name="example1">
                                                        <label class="custom-control-label" for="Women-watches">Watches</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="Women-jeans" name="example1">
                                                        <label class="custom-control-label" for="Women-jeans">Jeans</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="Women-jackets" name="example1">
                                                        <label class="custom-control-label" for="Women-jackets">Jackets</label>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <h5 class="mb-0">
                                                <button class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Boys
                                            <i class="material-icons icon-collapse">chevron_right</i>
                                                    <i class="material-icons icon-expand">expand_more</i>
                                            </button>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion1">
                                            <div class="card-body">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="Boys-shoes" name="example1">
                                                        <label class="custom-control-label" for="Boys-shoes">Shoes</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="Boys-watches" name="example1">
                                                        <label class="custom-control-label" for="Boys-watches">Watches</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="Boys-jeans" name="example1">
                                                        <label class="custom-control-label" for="Boys-jeans">Jeans</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="Boys-jackets" name="example1">
                                                        <label class="custom-control-label" for="Boys-jackets">Jackets</label>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr/>
                            <div>
                                <h5>Brands</h6>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="SuperBrand" name="example1">
                                    <label class="custom-control-label" for="SuperBrand">SuperBrand SS</label>
                                    <span class="rg-badge rg-badge-outline-round-lg-text rg-badge-outline-round-secondary">123</span>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="Ultima" name="example1">
                                    <label class="custom-control-label" for="Ultima">Ultima X</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="Strendth" name="example1">
                                    <label class="custom-control-label" for="Strendth">Strendth V</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="TomyHiFi" name="example1">
                                    <label class="custom-control-label" for="TomyHiFi">Tomy Hi Fi</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="hrxs" name="example1">
                                    <label class="custom-control-label" for="hrxs">HRXS</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="skulted" name="example1">
                                    <label class="custom-control-label" for="skulted">Skulted</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="sperSexyDry" name="example1">
                                    <label class="custom-control-label" for="sperSexyDry">Super Sexy Dry</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="nikeTone" name="example1">
                                    <label class="custom-control-label" for="nikeTone">Nike Tone</label>
                                </div>
                                <a href="dashboard.html">+100 more</a>
                            </div>                      
                            <hr/>
                            <div>
                                <h5>Discounts</h5>
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="tenPer" name="example1" value="customEx">
                                    <label class="custom-control-label" for="tenPer">10% & above</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="tweentyPer" name="example1" value="customEx">
                                    <label class="custom-control-label" for="tweentyPer">20% & above</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="thirtyPer" name="example1" value="customEx">
                                    <label class="custom-control-label" for="thirtyPer">30% & above</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="fourtyPer" name="example1" value="customEx">
                                    <label class="custom-control-label" for="fourtyPer">40% & above</label>
                                </div>
                            </div>
                            <hr/>
                            <div>
                                <h5>Price</h5>
                                <div class="form-group">
                                    <div class="layout-slider" style="width: 100%">
                                         <span><input id="price-range" type="slider" name="price" value="30000.5;60000" /></span> 
                                    </div>
                                </div>
                            </div>
                            <hr/>
                            <div>
                                <h5>Ratings</h5>
                                <div class="rating">
                                    <div>
                                        <span class="material-icons icon-image-preview">star</span>
                                        <span class="material-icons icon-image-preview">star_border</span>
                                        <span class="material-icons icon-image-preview">star_border</span>
                                        <span class="material-icons icon-image-preview">star_border</span>
                                        <span class="material-icons icon-image-preview">star_border</span>
                                        <span class="rg-badge rg-badge-outline-round-lg-text rg-badge-outline-round-secondary ml-auto">123</span>
                                    </div>
                                    <div>
                                        <span class="material-icons icon-image-preview">star</span>
                                        <span class="material-icons icon-image-preview">star</span>
                                        <span class="material-icons icon-image-preview">star_border</span>
                                        <span class="material-icons icon-image-preview">star_border</span>
                                        <span class="material-icons icon-image-preview">star_border</span>
                                        <span class="rg-badge rg-badge-outline-round-lg-text rg-badge-outline-round-secondary ml-auto">55</span>
                                    </div>
                                    <div>
                                        <span class="material-icons icon-image-preview">star</span>
                                        <span class="material-icons icon-image-preview">star</span>
                                        <span class="material-icons icon-image-preview">star</span>
                                        <span class="material-icons icon-image-preview">star_border</span>
                                        <span class="material-icons icon-image-preview">star_border</span>
                                        <span class="rg-badge rg-badge-outline-round-lg-text rg-badge-outline-round-secondary ml-auto">41</span>
                                    </div>
                                    <div>
                                        <span class="material-icons icon-image-preview">star</span>
                                        <span class="material-icons icon-image-preview">star</span>
                                        <span class="material-icons icon-image-preview">star</span>
                                        <span class="material-icons icon-image-preview">star</span>
                                        <span class="material-icons icon-image-preview">star_border</span>
                                        <span class="rg-badge rg-badge-outline-round-lg-text rg-badge-outline-round-secondary ml-auto">15</span>
                                    </div>
                                    <div>
                                        <span class="material-icons icon-image-preview">star</span>
                                        <span class="material-icons icon-image-preview">star</span>
                                        <span class="material-icons icon-image-preview">star</span>
                                        <span class="material-icons icon-image-preview">star</span>
                                        <span class="material-icons icon-image-preview">star</span>
                                        <span class="rg-badge rg-badge-outline-round-lg-text rg-badge-outline-round-secondary ml-auto">6</span>
                                    </div>
                                </div>
                            </div>
                        </section>
                </div>
        </div>
        <div class="col-lg-9 col-md-12">
            <div class="row sort-container mb-3">
                <div class="col-md-6 col-sm-5">
                    <span class="result-count text-weight-500">4325 results found in 1ms</span>   
                </div>              
                <div class="col-md-6 col-sm-7 text-right">
                    <select class="form-control">
                        <option>Sort by</option>
                        <option>High price to low price</option>
                        <option>Low price to high price</option>
                    </select>
                    <button class="btn btn-inverse btn-icon"><span class="material-icons">dashboard</span></button>
                    <button class="btn btn-inverse btn-icon"><span class="material-icons">list</span></button>
                </div>  
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="rg-card-ecommerce rg-card-action light equal-height">
    <header>

      <div class="heading">
        <h5>Ecommerce card</h5>
      </div>
      <div class="inline-actions">
        <span class="material-icons info">favorite</span>
      </div>
    </header>
    <section>
      <div class="product-details">
        <div class="product-pic text-center">
          <img src="../images/ecommerce/product-01-large.png" class="media-image rounded-corner extra-large" alt="product">
        </div>
        <div class="product-description">
          <div class="product-heading align-items-center">
            <h2 class="text-weight-600">$ 104</h2>
            <div class="rating ml-auto">
              <span class="material-icons">star star star star star_half</span>
            </div>
          </div>
          <h5 class="text-highlight-secondary text-weight-600">AKG Light, sterio bass</h5>
          <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, ipsum dolor</p>
        </div>
      </div>
      <div class="action">
        <button class="btn btn-danger">Add to Card</button>
        <button class="btn btn-light">Add to Wishlist</button>
      </div>
    </section>
  </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="rg-card-ecommerce rg-card-action light equal-height">
    <header>

      <div class="heading">
        <h5>Ecommerce card</h5>
      </div>
      <div class="inline-actions">
        <span class="material-icons info">favorite</span>
      </div>
    </header>
    <section>
      <div class="product-details">
        <div class="product-pic text-center">
          <img src="../images/ecommerce/product-02-large.png" class="media-image rounded-corner extra-large" alt="product">
        </div>
        <div class="product-description">
          <div class="product-heading align-items-center">
            <h2 class="text-weight-600">$ 104</h2>
            <div class="rating ml-auto">
              <span class="material-icons">star star star star star_half</span>
            </div>
          </div>
          <h5 class="text-highlight-secondary text-weight-600">AKG Light, sterio bass</h5>
          <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, ipsum dolor</p>
        </div>
      </div>
      <div class="action">
        <button class="btn btn-danger">Add to Card</button>
        <button class="btn btn-light">Add to Wishlist</button>
      </div>
    </section>
  </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="rg-card-ecommerce rg-card-action light equal-height">
    <header>

      <div class="heading">
        <h5>Ecommerce card</h5>
      </div>
      <div class="inline-actions">
        <span class="material-icons info">favorite</span>
      </div>
    </header>
    <section>
      <div class="product-details">
        <div class="product-pic text-center">
          <img src="../images/ecommerce/product-03-large.png" class="media-image rounded-corner extra-large" alt="product">
        </div>
        <div class="product-description">
          <div class="product-heading align-items-center">
            <h2 class="text-weight-600">$ 104</h2>
            <div class="rating ml-auto">
              <span class="material-icons">star star star star star_half</span>
            </div>
          </div>
          <h5 class="text-highlight-secondary text-weight-600">AKG Light, sterio bass</h5>
          <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, ipsum dolor</p>
        </div>
      </div>
      <div class="action">
        <button class="btn btn-danger">Add to Card</button>
        <button class="btn btn-light">Add to Wishlist</button>
      </div>
    </section>
  </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="rg-card-ecommerce rg-card-action light equal-height">
    <header>

      <div class="heading">
        <h5>Ecommerce card</h5>
      </div>
      <div class="inline-actions">
        <span class="material-icons info">favorite</span>
      </div>
    </header>
    <section>
      <div class="product-details">
        <div class="product-pic text-center">
          <img src="../images/ecommerce/product-04-large.png" class="media-image rounded-corner extra-large" alt="product">
        </div>
        <div class="product-description">
          <div class="product-heading align-items-center">
            <h2 class="text-weight-600">$ 104</h2>
            <div class="rating ml-auto">
              <span class="material-icons">star star star star star_half</span>
            </div>
          </div>
          <h5 class="text-highlight-secondary text-weight-600">AKG Light, sterio bass</h5>
          <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, ipsum dolor</p>
        </div>
      </div>
      <div class="action">
        <button class="btn btn-danger">Add to Card</button>
        <button class="btn btn-light">Add to Wishlist</button>
      </div>
    </section>
  </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="rg-card-ecommerce rg-card-action light equal-height">
    <header>

      <div class="heading">
        <h5>Ecommerce card</h5>
      </div>
      <div class="inline-actions">
        <span class="material-icons info">favorite</span>
      </div>
    </header>
    <section>
      <div class="product-details">
        <div class="product-pic text-center">
          <img src="../images/ecommerce/product-05-large.png" class="media-image rounded-corner extra-large" alt="product">
        </div>
        <div class="product-description">
          <div class="product-heading align-items-center">
            <h2 class="text-weight-600">$ 104</h2>
            <div class="rating ml-auto">
              <span class="material-icons">star star star star star_half</span>
            </div>
          </div>
          <h5 class="text-highlight-secondary text-weight-600">AKG Light, sterio bass</h5>
          <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, ipsum dolor</p>
        </div>
      </div>
      <div class="action">
        <button class="btn btn-danger">Add to Card</button>
        <button class="btn btn-light">Add to Wishlist</button>
      </div>
    </section>
  </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="rg-card-ecommerce rg-card-action light equal-height">
    <header>

      <div class="heading">
        <h5>Ecommerce card</h5>
      </div>
      <div class="inline-actions">
        <span class="material-icons info">favorite</span>
      </div>
    </header>
    <section>
      <div class="product-details">
        <div class="product-pic text-center">
          <img src="../images/ecommerce/product-01-large.png" class="media-image rounded-corner extra-large" alt="product">
        </div>
        <div class="product-description">
          <div class="product-heading align-items-center">
            <h2 class="text-weight-600">$ 104</h2>
            <div class="rating ml-auto">
              <span class="material-icons">star star star star star_half</span>
            </div>
          </div>
          <h5 class="text-highlight-secondary text-weight-600">AKG Light, sterio bass</h5>
          <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, ipsum dolor</p>
        </div>
      </div>
      <div class="action">
        <button class="btn btn-danger">Add to Card</button>
        <button class="btn btn-light">Add to Wishlist</button>
      </div>
    </section>
  </div>
                </div>
            </div>
        </div>
      </div>
</div>
<script src="~/js/ecommerce-product-list.js"></script>