
<div>
    <nav class="rg-breadcrumb" aria-label="breadcrumb">
        <h4 class="text-highlight-primary">Product Details</h4>
        <ol class="breadcrumb">
          <li class="breadcrumb-item breadcrumb-item-first"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="#">Ecommerce</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="#">Product Details</a></li>
        </ol>
        <button class="btn btn-secondary btn-icon ml-auto btn-small"><span class="material-icons">settings_applications</span></button>
      </nav>
    <div class="row">
        <div class="col-lg-12">
            <div class="product-details-card rg-card-simple mb-4">
                <div class="product-description">
                    <h3 class="mb-0 text-weight-600">AKG Light,sterio bass</h3>
                    <h5 class="product-features text-secondary"> Sterio sound, Slick and slim light weight on ear head phones</h5>
                    <div class="rating">
                        <span class="material-icons">star</span>
                        <span class="material-icons">star</span>
                        <span class="material-icons">star</span>
                        <span class="material-icons">star</span>
                        <span class="material-icons">star_half</span>
                    </div>
                    <div class="discription-details">
                        <h5>Product Details</h5>
                        <p>Sterio sound, Slick and slim light weight on ear head phones </p>
                    </div>
                    <div class="discription-details">
                        <h5>Size & Fit </h5>
                        <p>Free size with adjustable belt</p>
                    </div>
                    <div class="discription-details">
                        <h5>Material & Care</h5>
                        <p>Excellent quality speakers with quality materials</p>
                    </div>
                    <div class="row product-preview-tiles">
                        <div class="col-lg-3 col-sm-3">
                            <img src="../images/ecommerce/product-01-large.png" class="media-image full-width" alt="Product">
                        </div>
                        <div class="col-lg-3 col-sm-3">
                            <img src="../images/ecommerce/product-01-large.png" class="media-image full-width" alt="Product">
                        </div>
                        <div class="col-lg-3 col-sm-3">
                            <img src="../images/ecommerce/product-01-large.png" class="media-image full-width" alt="Product">
                        </div>
                        <div class="col-lg-3 col-sm-3">
                            <img src="../images/ecommerce/product-01-large.png" class="media-image full-width" alt="Product">
                        </div>
                    </div>
                </div>
                <div class="product-image">
                    <div class="product-img">
                        <img src="../images/ecommerce/product-01-large.png" class="media-image full-width" alt="Product">
                    </div>            
                </div>
                <div class="product-inventry">
                    <div class="product-price">
                        <h3 class="display-medium text-highlight-primary">Rs. 1500</h3>
                        <h5> <del>Rs. 2500</del> </h5>
                        <h5 class="text-warning">(22% OFF)</h5>
                    </div>
                    <p class="text-success text-normal">Inclusive all taxes</p>
                    <div class="product-sizes">
                        <div class="mb-3">
                            <h6 class="select-size text-weight-600 mb-1">SELECT SIZE </h6>
                            <h6 class="size-chart text-warning mb-1">CHART SIZE </h6>
                            <span class="material-icons mb-1"> navigate_next  </span>
                        </div>
                        <div class="mb-4 sizes">
                            <button class="btn btn-secondary btn-capsule btn-outline">S</button>
                            <button class="btn btn-secondary btn-capsule btn-outline size-m">M</button>
                            <button class="btn btn-secondary btn-capsule btn-outline">L</button>
                            <button class="btn btn-secondary btn-capsule btn-outline size-xl">XL</button>
                            <button class="btn btn-secondary btn-capsule btn-outline size-xxl">XXL</button>
                        </div>
                    </div>
                    <div class="action mb-4">
                        <button class="btn btn-danger mb-2">Add to Cart</button>
                        <button class="btn btn-light mb-2">Add to Wishlist</button>
                    </div>
                    <div class="form-group">
                        <label class="text-weight-600 text-highlight-secondary" for="exampleInputEmail1">Delivery Option</label>
                        <input type="text" class="form-control" placeholder="Enter pincode">
                    </div>
                    <h6 class="text-weight-600 text-highlight-secondary">EMI option available</h6>
                    <p class="mb-0">EMI starting from Rs 250/ Month</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="rg-card-ecommerce rg-card-action light equal-height">
    <header>

      <div class="heading">
        <h5>Ecommerce card</h5>
      </div>
      <div class="inline-actions">
        <span class="material-icons info">favorite</span>
      </div>
    </header>
    <section>
      <div class="product-details">
        <div class="product-pic text-center">
          <img src="../images/ecommerce/product-01-large.png" class="media-image rounded-corner extra-large" alt="product">
        </div>
        <div class="product-description">
          <div class="product-heading align-items-center">
            <h2 class="text-weight-600">$ 104</h2>
            <div class="rating ml-auto">
              <span class="material-icons">star star star star star_half</span>
            </div>
          </div>
          <h5 class="text-highlight-secondary text-weight-600">AKG Light, sterio bass</h5>
          <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, ipsum dolor</p>
        </div>
      </div>
      <div class="action">
        <button class="btn btn-danger">Add to Card</button>
        <button class="btn btn-light">Add to Wishlist</button>
      </div>
    </section>
  </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="rg-card-ecommerce rg-card-action light equal-height">
    <header>

      <div class="heading">
        <h5>Ecommerce card</h5>
      </div>
      <div class="inline-actions">
        <span class="material-icons info">favorite</span>
      </div>
    </header>
    <section>
      <div class="product-details">
        <div class="product-pic text-center">
          <img src="../images/ecommerce/product-02-large.png" class="media-image rounded-corner extra-large" alt="product">
        </div>
        <div class="product-description">
          <div class="product-heading align-items-center">
            <h2 class="text-weight-600">$ 104</h2>
            <div class="rating ml-auto">
              <span class="material-icons">star star star star star_half</span>
            </div>
          </div>
          <h5 class="text-highlight-secondary text-weight-600">AKG Light, sterio bass</h5>
          <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, ipsum dolor</p>
        </div>
      </div>
      <div class="action">
        <button class="btn btn-danger">Add to Card</button>
        <button class="btn btn-light">Add to Wishlist</button>
      </div>
    </section>
  </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="rg-card-ecommerce rg-card-action light equal-height">
    <header>

      <div class="heading">
        <h5>Ecommerce card</h5>
      </div>
      <div class="inline-actions">
        <span class="material-icons info">favorite</span>
      </div>
    </header>
    <section>
      <div class="product-details">
        <div class="product-pic text-center">
          <img src="../images/ecommerce/product-03-large.png" class="media-image rounded-corner extra-large" alt="product">
        </div>
        <div class="product-description">
          <div class="product-heading align-items-center">
            <h2 class="text-weight-600">$ 104</h2>
            <div class="rating ml-auto">
              <span class="material-icons">star star star star star_half</span>
            </div>
          </div>
          <h5 class="text-highlight-secondary text-weight-600">AKG Light, sterio bass</h5>
          <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, ipsum dolor</p>
        </div>
      </div>
      <div class="action">
        <button class="btn btn-danger">Add to Card</button>
        <button class="btn btn-light">Add to Wishlist</button>
      </div>
    </section>
  </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="rg-card-ecommerce rg-card-action light equal-height">
    <header>

      <div class="heading">
        <h5>Ecommerce card</h5>
      </div>
      <div class="inline-actions">
        <span class="material-icons info">favorite</span>
      </div>
    </header>
    <section>
      <div class="product-details">
        <div class="product-pic text-center">
          <img src="../images/ecommerce/product-04-large.png" class="media-image rounded-corner extra-large" alt="product">
        </div>
        <div class="product-description">
          <div class="product-heading align-items-center">
            <h2 class="text-weight-600">$ 104</h2>
            <div class="rating ml-auto">
              <span class="material-icons">star star star star star_half</span>
            </div>
          </div>
          <h5 class="text-highlight-secondary text-weight-600">AKG Light, sterio bass</h5>
          <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, ipsum dolor</p>
        </div>
      </div>
      <div class="action">
        <button class="btn btn-danger">Add to Card</button>
        <button class="btn btn-light">Add to Wishlist</button>
      </div>
    </section>
  </div>
        </div>
    </div>
</div>