
                <div>
    <nav class="rg-breadcrumb" aria-label="breadcrumb">
        <h4 class="text-highlight-primary">Wishlist</h4>
        <ol class="breadcrumb">
          <li class="breadcrumb-item breadcrumb-item-first"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="#">Ecommerce</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="#">Wishlist</a></li>
        </ol>
        <button class="btn btn-secondary btn-icon ml-auto btn-small"><span class="material-icons">settings_applications</span></button>
      </nav>
      <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="rg-card-ecommerce rg-card-action light equal-height">
    <header>

      <div class="heading">
        <h5>Ecommerce card</h5>
      </div>
      <div class="inline-actions">
        <span class="material-icons info">favorite</span>
      </div>
    </header>
    <section>
      <div class="product-details">
        <div class="product-pic text-center">
          <img src="../images/ecommerce/product-01-large.png" class="media-image rounded-corner extra-large" alt="product">
        </div>
        <div class="product-description">
          <div class="product-heading align-items-center">
            <h2 class="text-weight-600">$ 104</h2>
            <div class="rating ml-auto">
              <span class="material-icons">star star star star star_half</span>
            </div>
          </div>
          <h5 class="text-highlight-secondary text-weight-600">AKG Light, sterio bass</h5>
          <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, ipsum dolor</p>
        </div>
      </div>
      <div class="action">
        <button class="btn btn-danger">Add to Card</button>
        <button class="btn btn-light">Add to Wishlist</button>
      </div>
    </section>
  </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="rg-card-ecommerce rg-card-action light equal-height">
    <header>

      <div class="heading">
        <h5>Ecommerce card</h5>
      </div>
      <div class="inline-actions">
        <span class="material-icons info">favorite</span>
      </div>
    </header>
    <section>
      <div class="product-details">
        <div class="product-pic text-center">
          <img src="../images/ecommerce/product-02-large.png" class="media-image rounded-corner extra-large" alt="product">
        </div>
        <div class="product-description">
          <div class="product-heading align-items-center">
            <h2 class="text-weight-600">$ 104</h2>
            <div class="rating ml-auto">
              <span class="material-icons">star star star star star_half</span>
            </div>
          </div>
          <h5 class="text-highlight-secondary text-weight-600">AKG Light, sterio bass</h5>
          <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, ipsum dolor</p>
        </div>
      </div>
      <div class="action">
        <button class="btn btn-danger">Add to Card</button>
        <button class="btn btn-light">Add to Wishlist</button>
      </div>
    </section>
  </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="rg-card-ecommerce rg-card-action light equal-height">
    <header>

      <div class="heading">
        <h5>Ecommerce card</h5>
      </div>
      <div class="inline-actions">
        <span class="material-icons info">favorite</span>
      </div>
    </header>
    <section>
      <div class="product-details">
        <div class="product-pic text-center">
          <img src="../images/ecommerce/product-03-large.png" class="media-image rounded-corner extra-large" alt="product">
        </div>
        <div class="product-description">
          <div class="product-heading align-items-center">
            <h2 class="text-weight-600">$ 104</h2>
            <div class="rating ml-auto">
              <span class="material-icons">star star star star star_half</span>
            </div>
          </div>
          <h5 class="text-highlight-secondary text-weight-600">AKG Light, sterio bass</h5>
          <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, ipsum dolor</p>
        </div>
      </div>
      <div class="action">
        <button class="btn btn-danger">Add to Card</button>
        <button class="btn btn-light">Add to Wishlist</button>
      </div>
    </section>
  </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="rg-card-ecommerce rg-card-action light equal-height">
    <header>

      <div class="heading">
        <h5>Ecommerce card</h5>
      </div>
      <div class="inline-actions">
        <span class="material-icons info">favorite</span>
      </div>
    </header>
    <section>
      <div class="product-details">
        <div class="product-pic text-center">
          <img src="../images/ecommerce/product-04-large.png" class="media-image rounded-corner extra-large" alt="product">
        </div>
        <div class="product-description">
          <div class="product-heading align-items-center">
            <h2 class="text-weight-600">$ 104</h2>
            <div class="rating ml-auto">
              <span class="material-icons">star star star star star_half</span>
            </div>
          </div>
          <h5 class="text-highlight-secondary text-weight-600">AKG Light, sterio bass</h5>
          <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, ipsum dolor</p>
        </div>
      </div>
      <div class="action">
        <button class="btn btn-danger">Add to Card</button>
        <button class="btn btn-light">Add to Wishlist</button>
      </div>
    </section>
  </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="rg-card-ecommerce rg-card-action light equal-height">
    <header>

      <div class="heading">
        <h5>Ecommerce card</h5>
      </div>
      <div class="inline-actions">
        <span class="material-icons info">favorite</span>
      </div>
    </header>
    <section>
      <div class="product-details">
        <div class="product-pic text-center">
          <img src="../images/ecommerce/product-05-large.png" class="media-image rounded-corner extra-large" alt="product">
        </div>
        <div class="product-description">
          <div class="product-heading align-items-center">
            <h2 class="text-weight-600">$ 104</h2>
            <div class="rating ml-auto">
              <span class="material-icons">star star star star star_half</span>
            </div>
          </div>
          <h5 class="text-highlight-secondary text-weight-600">AKG Light, sterio bass</h5>
          <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, ipsum dolor</p>
        </div>
      </div>
      <div class="action">
        <button class="btn btn-danger">Add to Card</button>
        <button class="btn btn-light">Add to Wishlist</button>
      </div>
    </section>
  </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="rg-card-ecommerce rg-card-action light equal-height">
    <header>

      <div class="heading">
        <h5>Ecommerce card</h5>
      </div>
      <div class="inline-actions">
        <span class="material-icons info">favorite</span>
      </div>
    </header>
    <section>
      <div class="product-details">
        <div class="product-pic text-center">
          <img src="../images/ecommerce/product-01-large.png" class="media-image rounded-corner extra-large" alt="product">
        </div>
        <div class="product-description">
          <div class="product-heading align-items-center">
            <h2 class="text-weight-600">$ 104</h2>
            <div class="rating ml-auto">
              <span class="material-icons">star star star star star_half</span>
            </div>
          </div>
          <h5 class="text-highlight-secondary text-weight-600">AKG Light, sterio bass</h5>
          <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, ipsum dolor</p>
        </div>
      </div>
      <div class="action">
        <button class="btn btn-danger">Add to Card</button>
        <button class="btn btn-light">Add to Wishlist</button>
      </div>
    </section>
  </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="rg-card-ecommerce rg-card-action light equal-height">
    <header>

      <div class="heading">
        <h5>Ecommerce card</h5>
      </div>
      <div class="inline-actions">
        <span class="material-icons info">favorite</span>
      </div>
    </header>
    <section>
      <div class="product-details">
        <div class="product-pic text-center">
          <img src="../images/ecommerce/product-02-large.png" class="media-image rounded-corner extra-large" alt="product">
        </div>
        <div class="product-description">
          <div class="product-heading align-items-center">
            <h2 class="text-weight-600">$ 104</h2>
            <div class="rating ml-auto">
              <span class="material-icons">star star star star star_half</span>
            </div>
          </div>
          <h5 class="text-highlight-secondary text-weight-600">AKG Light, sterio bass</h5>
          <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, ipsum dolor</p>
        </div>
      </div>
      <div class="action">
        <button class="btn btn-danger">Add to Card</button>
        <button class="btn btn-light">Add to Wishlist</button>
      </div>
    </section>
  </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="rg-card-ecommerce rg-card-action light equal-height">
    <header>

      <div class="heading">
        <h5>Ecommerce card</h5>
      </div>
      <div class="inline-actions">
        <span class="material-icons info">favorite</span>
      </div>
    </header>
    <section>
      <div class="product-details">
        <div class="product-pic text-center">
          <img src="../images/ecommerce/product-03-large.png" class="media-image rounded-corner extra-large" alt="product">
        </div>
        <div class="product-description">
          <div class="product-heading align-items-center">
            <h2 class="text-weight-600">$ 104</h2>
            <div class="rating ml-auto">
              <span class="material-icons">star star star star star_half</span>
            </div>
          </div>
          <h5 class="text-highlight-secondary text-weight-600">AKG Light, sterio bass</h5>
          <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, ipsum dolor</p>
        </div>
      </div>
      <div class="action">
        <button class="btn btn-danger">Add to Card</button>
        <button class="btn btn-light">Add to Wishlist</button>
      </div>
    </section>
  </div>
        </div>
    </div>
</div>