<div>
    <nav class="rg-breadcrumb" aria-label="breadcrumb">
        <h4 class="text-highlight-primary">FAQ</h4>
        <ol class="breadcrumb">
          <li class="breadcrumb-item breadcrumb-item-first"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="#">FAQ</a></li>
        </ol>
        <button class="btn btn-secondary btn-icon ml-auto btn-small"><span class="material-icons">settings_applications</span></button>
      </nav>  
    <div class="rg-card-tabs equal-height">
        <header>
            <h5>Frequently asked Questions</h5>
        </header>
        <section>
            <div id="striped_accordion" class="striped-accordion accordion">
                <div class="card">
                    <div class="card-header" id="striped_accordion_headingOne">
                        <h5 class="mb-0">
                            <button class="collapsed" data-toggle="collapse" data-target="#striped_accordion_collapseOne" aria-expanded="true" aria-controls="striped_accordion_collapseOne">
                                How do I apply?                                              
                                <i class="material-icons icon-image-preview icon-collapse">chevron_right</i>
                                <i class="material-icons icon-image-preview icon-expand">expand_more</i>                               
                                </button>
                        </h5>
                    </div>

                    <div id="striped_accordion_collapseOne" class="collapse show" aria-labelledby="striped_accordion_headingOne" data-parent="#striped_accordion">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                            on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                            craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="striped_accordion_headingTwo">
                        <h5 class="mb-0">
                            <button class="collapsed" data-toggle="collapse" data-target="#striped_accordion_collapseTwo" aria-expanded="false" aria-controls="striped_accordion_collapseTwo">                                                
                                Why can't I sign in?                                         
                                <i class="material-icons icon-image-preview icon-collapse">chevron_right</i>
                                <i class="material-icons icon-image-preview icon-expand">expand_more</i>
                                  </button>
                        </h5>
                    </div>
                    <div id="striped_accordion_collapseTwo" class="collapse" aria-labelledby="striped_accordion_headingTwo" data-parent="#striped_accordion">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                            on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                            craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="striped_accordion_headingThree">
                        <h5 class="mb-0">
                            <button class="collapsed" data-toggle="collapse" data-target="#striped_accordion_collapseThree" aria-expanded="false" aria-controls="striped_accordion_collapseThree">
                                        What are entry requirements?                                         
                                        <i class="material-icons icon-image-preview icon-collapse">chevron_right</i>
                                        <i class="material-icons icon-image-preview icon-expand">expand_more</i>
                                  </button>
                        </h5>
                    </div>
                    <div id="striped_accordion_collapseThree" class="collapse" aria-labelledby="striped_accordion_headingThree" data-parent="#striped_accordion">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                            on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                            craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="striped_accordion_headingOne">
                        <h5 class="mb-0">
                            <button class="collapsed" data-toggle="collapse" data-target="#striped_accordion_collapseFour" aria-expanded="false" aria-controls="striped_accordion_collapseFour">
                                How do I get a reference?                                             
                                <i class="material-icons icon-image-preview icon-collapse">chevron_right</i>
                                <i class="material-icons icon-image-preview icon-expand">expand_more</i>                               
                                </button>
                        </h5>
                    </div>

                    <div id="striped_accordion_collapseFour" class="collapse" aria-labelledby="striped_accordion_headingOne" data-parent="#striped_accordion">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                            on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                            craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="striped_accordion_headingTwo">
                        <h5 class="mb-0">
                            <button class="collapsed" data-toggle="collapse" data-target="#striped_accordion_collapseFive" aria-expanded="false" aria-controls="striped_accordion_collapseFive">                                                
                                How can I reset my password?                                       
                                <i class="material-icons icon-image-preview icon-collapse">chevron_right</i>
                                <i class="material-icons icon-image-preview icon-expand">expand_more</i>
                                  </button>
                        </h5>
                    </div>
                    <div id="striped_accordion_collapseFive" class="collapse" aria-labelledby="striped_accordion_headingTwo" data-parent="#striped_accordion">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                            on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                            craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="striped_accordion_headingThree">
                        <h5 class="mb-0">
                            <button class="collapsed" data-toggle="collapse" data-target="#striped_accordion_collapseSix" aria-expanded="false" aria-controls="striped_accordion_collapseSix">
                                        What is cancellation process?                                        
                                        <i class="material-icons icon-image-preview icon-collapse">chevron_right</i>
                                        <i class="material-icons icon-image-preview icon-expand">expand_more</i>
                                  </button>
                        </h5>
                    </div>
                    <div id="striped_accordion_collapseSix" class="collapse" aria-labelledby="striped_accordion_headingThree" data-parent="#striped_accordion">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                            on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                            craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<script src="~/js/faq.js"></script>