<div>
    <nav class="rg-breadcrumb" aria-label="breadcrumb">
        <h4 class="text-primary">Accordion</h4>
        <ol class="breadcrumb">
          <li class="breadcrumb-item breadcrumb-item-first"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="#">accordion</a></li>
        </ol>
        <button class="btn btn-secondary btn-icon ml-auto btn-small"><span class="material-icons">settings_applications</span></button>
      </nav>  
    <div>
        <div class="row">
            <div class="col-lg-6">
                <div class="rg-card-simple equal-height">
                    <header>
                        <h5>Simple accordion</h5>
                    </header>
                    <section>
                        <div id="accordion1" class="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Image description                                            
                                            <i class="material-icons icon-collapse">chevron_right</i>
                                            <i class="material-icons icon-expand">expand_more</i>
                                        </button>
                                        
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion1">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                        craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Calendar Component                                            
                                    <i class="material-icons icon-collapse">chevron_right</i>
                                    <i class="material-icons icon-expand">expand_more</i>
                                  </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion1">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                        craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Multimedia player                                            
                                    <i class="material-icons icon-collapse">chevron_right</i>
                                    <i class="material-icons icon-expand">expand_more</i>
                                  </button>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion1">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                        craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="rg-card-simple equal-height">
                    <header>
                        <h5>Accordion title with icon</h5>
                    </header>
                    <section>
                        <div id="accordion_with_icon" class="accordion" >
                            <div class="card">
                                <div class="card-header" id="accordion_with_icon_headingOne">
                                    <h5 class="mb-0">
                                        <button data-toggle="collapse" data-target="#accordion_with_icon_collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <span _ngcontent-ldo-c19="" class="icon material-icons text-error">photo</span>
                                            <span> Image description</span>                                                
                                            <i class="material-icons icon-collapse">chevron_right</i>
                                            <i class="material-icons icon-expand">expand_more</i>
                                        </button>
                                    </h5>
                                </div>

                                <div id="accordion_with_icon_collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion_with_icon">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                        craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="accordion_with_icon_headingTwo">
                                    <h5 class="mb-0">
                                        <button class="collapsed" data-toggle="collapse" data-target="#accordion_with_icon_collapseTwo" aria-expanded="false" aria-controls="collapseTwo">                                                
                                            <span _ngcontent-ldo-c19="" class="icon material-icons text-info">calendar_today</span>
                                            <span> Calendar Component </span>                                                 
                                            <i class="material-icons icon-collapse">chevron_right</i>
                                            <i class="material-icons icon-expand">expand_more</i>
                                          </button>
                                    </h5>
                                </div>
                                <div id="accordion_with_icon_collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion_with_icon">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                        craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="accordion_with_icon_headingThree">
                                    <h5 class="mb-0">
                                        <button class="collapsed" data-toggle="collapse" data-target="#accordion_with_icon_collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            <span class="icon material-icons text-success">perm_media</span>
                                            <span> Multimedia player </span>                                                 
                                            <i class="material-icons icon-collapse">chevron_right</i>
                                            <i class="material-icons icon-expand">expand_more</i>
                                          </button>
                                    </h5>
                                </div>
                                <div id="accordion_with_icon_collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion_with_icon">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                        craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="rg-card-simple equal-height">
                    <header>
                        <h5>Solid & highlighted accordion</h5>
                    </header>
                    <section>
                        <div id="solid-highlighted-accordion" class="accordion solid-highlighted-accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button data-toggle="collapse" data-target="#solidhighlightOne" aria-expanded="true" aria-controls="solidhighlightOne">
                                            <span class="highlight highlight-primary">01</span>
                                            <span>First Step</span>                                            
                                            <i class="material-icons icon-collapse">chevron_right</i>
                                            <i class="material-icons icon-expand">expand_more</i>
                                        </button>
                                        
                                    </h5>
                                </div>

                                <div id="solidhighlightOne" class="collapse show" aria-labelledby="headingOne" data-parent="#solid-highlighted-accordion">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                        craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="collapsed" data-toggle="collapse" data-target="#solidhighlightTwo" aria-expanded="false" aria-controls="solidhighlightTwo">
                                            <span class="highlight">02</span>
                                            <span>Second Step</span>                                   
                                            <i class="material-icons icon-collapse">chevron_right</i>
                                            <i class="material-icons icon-expand">expand_more</i>
                                        </button>
                                    </h5>
                                </div>
                                <div id="solidhighlightTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#solid-highlighted-accordion">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                        craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="collapsed" data-toggle="collapse" data-target="#solidhighlightThree" aria-expanded="false" aria-controls="solidhighlightThree">
                                            <span class="highlight">03</span>
                                            <span>Third Step</span>                                         
                                            <i class="material-icons icon-collapse">chevron_right</i>
                                            <i class="material-icons icon-expand">expand_more</i>
                                        </button>
                                    </h5>
                                </div>
                                <div id="solidhighlightThree" class="collapse" aria-labelledby="headingThree" data-parent="#solid-highlighted-accordion">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                        craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="col-md-6">
                <div class="rg-card-simple equal-height">
                    <header>
                        <h5>Solid & Light accordion</h5>
                    </header>
                    <section>
                        <div id="solid-light-accordion" class="accordion solid-light-accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button data-toggle="collapse" data-target="#solidLightOne" aria-expanded="true" aria-controls="solidLightOne">
                                            <span class="material-icons highlight-icon text-primary">image</span>
                                            <span>Image description</span>                                            
                                            <i class="material-icons icon-collapse">chevron_right</i>
                                            <i class="material-icons icon-expand">expand_more</i>
                                        </button>
                                        
                                    </h5>
                                </div>

                                <div id="solidLightOne" class="collapse show" aria-labelledby="headingOne" data-parent="#solid-light-accordion">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                        craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="collapsed" data-toggle="collapse" data-target="#solidLightTwo" aria-expanded="false" aria-controls="solidLightTwo">
                                            <span class="material-icons highlight-icon text-secondary">commute</span>
                                            <span>Commute description</span>                                   
                                            <i class="material-icons icon-collapse">chevron_right</i>
                                            <i class="material-icons icon-expand">expand_more</i>
                                        </button>
                                    </h5>
                                </div>
                                <div id="solidLightTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#solid-light-accordion">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                        craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="collapsed" data-toggle="collapse" data-target="#solidLightThree" aria-expanded="false" aria-controls="solidLightThree">
                                            <span class="material-icons highlight-icon text-warning">extension</span>
                                            <span>extension description</span>                                   
                                            <i class="material-icons icon-collapse">chevron_right</i>
                                            <i class="material-icons icon-expand">expand_more</i>
                                        </button>
                                    </h5>
                                </div>
                                <div id="solidLightThree" class="collapse" aria-labelledby="headingThree" data-parent="#solid-light-accordion">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                        craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="rg-card-simple equal-height">
                    <header>
                        <h5>List accordion</h5>
                    </header>
                    <section>
                        <div id="list_accordion" class="accordion list-accordion" >
                            <div class="card">
                                <div class="card-header" id="list_accordion_headingOne">
                                    <h5 class="mb-0">
                                        <button data-toggle="collapse" data-target="#list_accordion_collapseOne" aria-expanded="true" aria-controls="list_accordion_collapseOne">
                                                Image description                                            
                                                <i class="material-icons icon-collapse">chevron_right</i>
                                                <i class="material-icons icon-expand">expand_more</i>
                                            </button>
                                    </h5>
                                </div>

                                <div id="list_accordion_collapseOne" class="collapse show" aria-labelledby="list_accordion_headingOne" data-parent="#list_accordion">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                        craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="list_accordion_headingTwo">
                                    <h5 class="mb-0">
                                        <button class="collapsed" data-toggle="collapse" data-target="#list_accordion_collapseTwo" aria-expanded="false" aria-controls="list_accordion_collapseTwo">
                                        Calendar Component                                            
                                        <i class="material-icons icon-collapse">chevron_right</i>
                                        <i class="material-icons icon-expand">expand_more</i>
                                      </button>
                                    </h5>
                                </div>
                                <div id="list_accordion_collapseTwo" class="collapse" aria-labelledby="list_accordion_headingTwo" data-parent="#list_accordion">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                        craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="list_accordion_headingThree">
                                    <h5 class="mb-0">
                                        <button class="collapsed" data-toggle="collapse" data-target="#list_accordion_collapseThree" aria-expanded="false" aria-controls="list_accordion_collapseThree">
                                        Multimedia player                                            
                                        <i class="material-icons icon-collapse">chevron_right</i>
                                        <i class="material-icons icon-expand">expand_more</i>
                                      </button>
                                    </h5>
                                </div>
                                <div id="list_accordion_collapseThree" class="collapse" aria-labelledby="list_accordion_headingThree" data-parent="#list_accordion">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                        craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="rg-card-simple equal-height">
                    <header>
                        <h5>Striped accordion</h5>
                    </header>
                    <section>
                        <div id="striped_accordion" class="accordion striped-accordion" >
                            <div class="card">
                                <div class="card-header" id="striped_accordion_headingOne">
                                    <h5 class="mb-0">
                                        <button data-toggle="collapse" data-target="#striped_accordion_collapseOne" aria-expanded="true" aria-controls="striped_accordion_collapseOne">
                                            Image description                                               
                                            <i class="material-icons icon-collapse">chevron_right</i>
                                            <i class="material-icons icon-expand">expand_more</i>                               
                                            </button>
                                    </h5>
                                </div>

                                <div id="striped_accordion_collapseOne" class="collapse show" aria-labelledby="striped_accordion_headingOne" data-parent="#striped_accordion">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                        craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="striped_accordion_headingTwo">
                                    <h5 class="mb-0">
                                        <button class="collapsed" data-toggle="collapse" data-target="#striped_accordion_collapseTwo" aria-expanded="false" aria-controls="striped_accordion_collapseTwo">                                                
                                            Calendar Component                                            
                                            <i class="material-icons icon-collapse">chevron_right</i>
                                            <i class="material-icons icon-expand">expand_more</i>
                                              </button>
                                    </h5>
                                </div>
                                <div id="striped_accordion_collapseTwo" class="collapse" aria-labelledby="striped_accordion_headingTwo" data-parent="#striped_accordion">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                        craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="striped_accordion_headingThree">
                                    <h5 class="mb-0">
                                        <button class="collapsed" data-toggle="collapse" data-target="#striped_accordion_collapseThree" aria-expanded="false" aria-controls="striped_accordion_collapseThree">
                                                    Multimedia player                                            
                                                    <i class="material-icons icon-collapse">chevron_right</i>
                                                    <i class="material-icons icon-expand">expand_more</i>
                                              </button>
                                    </h5>
                                </div>
                                <div id="striped_accordion_collapseThree" class="collapse" aria-labelledby="striped_accordion_headingThree" data-parent="#striped_accordion">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                        craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="rg-card-simple equal-height">
                    <header>
                        <h5>Light accordion</h5>
                    </header>
                    <section>
                        <div id="light_accordion" class="accordion light-accordion" >
                            <div class="card">
                                <div class="card-header" id="light_accordion_headingOne">
                                    
                                    <h5 class="mb-0">
                                        <button data-toggle="collapse" data-target="#light_accordion_collapseOne" aria-expanded="true" aria-controls="light_accordion_collapseOne">
                                                    Image description                                            
                                                    <i class="material-icons icon-collapse">chevron_right</i>
                                                    <i class="material-icons icon-expand">expand_more</i>
                                                </button>
                                    </h5>
                                </div>

                                <div id="light_accordion_collapseOne" class="collapse show" aria-labelledby="light_accordion_headingOne" data-parent="#light_accordion">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                        craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="light_accordion_headingTwo">
                                    <h5 class="mb-0">
                                        <button class="collapsed" data-toggle="collapse" data-target="#light_accordion_collapseTwo" aria-expanded="false" aria-controls="light_accordion_collapseTwo">
                                            Calendar Component                                            
                                            <i class="material-icons icon-collapse">chevron_right</i>
                                            <i class="material-icons icon-expand">expand_more</i>
                                          </button>
                                    </h5>
                                </div>
                                <div id="light_accordion_collapseTwo" class="collapse" aria-labelledby="light_accordion_headingTwo" data-parent="#light_accordion">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                        craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="light_accordion_headingThree">
                                    <h5 class="mb-0">
                                        <button class="collapsed" data-toggle="collapse" data-target="#light_accordion_collapseThree" aria-expanded="false" aria-controls="light_accordion_collapseThree">
                                            Multimedia player                                            
                                            <i class="material-icons icon-collapse">chevron_right</i>
                                            <i class="material-icons icon-expand">expand_more</i>
                                          </button>
                                    </h5>
                                </div>
                                <div id="light_accordion_collapseThree" class="collapse" aria-labelledby="light_accordion_headingThree" data-parent="#light_accordion">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                        craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="rg-card-simple equal-height">
                    <header>
                        <h5>Dark accordion</h5>
                    </header>
                    <section>
                        <div id="dark_accordion" class="accordion dark-accordion" >
                            <div class="card">
                                <div class="card-header" id="dark_accordion_headingOne">
                                    <h5 class="mb-0">
                                        <button data-toggle="collapse" data-target="#dark_accordion_collapseOne" aria-expanded="true" aria-controls="dark_accordion_collapseOne">
                                            Image description                                            
                                            <i class="material-icons icon-collapse">chevron_right</i>
                                            <i class="material-icons icon-expand">expand_more</i>
                                                </button>
                                    </h5>
                                </div>

                                <div id="dark_accordion_collapseOne" class="collapse show" aria-labelledby="dark_accordion_headingOne" data-parent="#dark_accordion">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                        craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="dark_accordion_headingTwo">
                                    <h5 class="mb-0">
                                        <button class="collapsed" data-toggle="collapse" data-target="#dark_accordion_collapseTwo" aria-expanded="false" aria-controls="dark_accordion_collapseTwo">                                                
                                            Calendar Component                                                 
                                            <i class="material-icons icon-collapse">chevron_right</i>
                                            <i class="material-icons icon-expand">expand_more</i>                                               
                                                  </button>
                                    </h5>
                                </div>
                                <div id="dark_accordion_collapseTwo" class="collapse" aria-labelledby="dark_accordion_headingTwo" data-parent="#dark_accordion">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                        craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="dark_accordion_headingThree">
                                    <h5 class="mb-0">
                                        <button class="collapsed" data-toggle="collapse" data-target="#dark_accordion_collapseThree" aria-expanded="false" aria-controls="dark_accordion_collapseThree">
                                            Multimedia player                                            
                                            <i class="material-icons icon-collapse">chevron_right</i>
                                            <i class="material-icons icon-expand">expand_more</i>
                                                  </button>
                                    </h5>
                                </div>
                                <div id="dark_accordion_collapseThree" class="collapse" aria-labelledby="dark_accordion_headingThree" data-parent="#dark_accordion">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                        craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/js/ui-element-accordion.js"></script>