<div>
    <nav class="rg-breadcrumb" aria-label="breadcrumb">
        <h4 class="text-primary">Badges</h4>
        <ol class="breadcrumb">
          <li class="breadcrumb-item breadcrumb-item-first"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="#">Badges</a></li>
        </ol>
        <button class="btn btn-secondary btn-icon ml-auto btn-small"><span class="material-icons">settings_applications</span></button>
      </nav> 
    <div>
        <div class="row">
            <div class="col-lg-6">
                <div class="rg-card-simple equal-height">
                    <header>
                        <h5>Badge Styles</h5>
                    </header>
                    <section>
                        <div class="row">                        
                            <div class="col-lg-12">
                                <h6>Rounded corner badges</h6>
                                <span class="rg-badge rg-badge-primary">1</span>
                                <span class="rg-badge rg-badge-secondary">2</span>
                                <span class="rg-badge rg-badge-light">3</span>
                                <span class="rg-badge rg-badge-dark">4</span>
                                <span class="rg-badge rg-badge-error">5</span>
                                <span class="rg-badge rg-badge-warning">6</span>
                                <span class="rg-badge rg-badge-info">7</span>
                                <span class="rg-badge rg-badge-success">8</span>
                            </div>
                        </div>
                        <br/>
                        <div class="row">                        
                            <div class="col-lg-12">
                                <h6>Sqaure badges</h6>
                                <span class="rg-badge rg-badge-square rg-badge-primary">1</span>
                                <span class="rg-badge rg-badge-square rg-badge-secondary">2</span>
                                <span class="rg-badge rg-badge-square rg-badge-light">3</span>
                                <span class="rg-badge rg-badge-square rg-badge-dark">4</span>
                                <span class="rg-badge rg-badge-square rg-badge-error">5</span>
                                <span class="rg-badge rg-badge-square rg-badge-warning">6</span>
                                <span class="rg-badge rg-badge-square rg-badge-info">7</span>
                                <span class="rg-badge rg-badge-square rg-badge-success">8</span>
                            </div>
                        </div>
                        <br/>
                        <div class="row">                        
                            <div class="col-lg-12">
                                <h6>Round badges</h6>
                                <span class="rg-badge rg-badge-round rg-badge-primary">1</span>
                                <span class="rg-badge rg-badge-round rg-badge-secondary">2</span>
                                <span class="rg-badge rg-badge-round rg-badge-light">3</span>
                                <span class="rg-badge rg-badge-round rg-badge-dark">4</span>
                                <span class="rg-badge rg-badge-round rg-badge-error">5</span>
                                <span class="rg-badge rg-badge-round rg-badge-warning">6</span>
                                <span class="rg-badge rg-badge-round rg-badge-info">7</span>
                                <span class="rg-badge rg-badge-round rg-badge-success">8</span>
                            </div>
                        </div>
                        <br/>
                        <div class="row">                        
                            <div class="col-lg-12">
                                <h6>Outline Round badges</h6>
                                <span class="rg-badge rg-badge-outline-round rg-badge-outline-round-primary">1</span>
                                <span class="rg-badge rg-badge-outline-round rg-badge-outline-round-secondary">2</span>
                                <span class="rg-badge rg-badge-outline-round rg-badge-outline-round-light">3</span>
                                <span class="rg-badge rg-badge-outline-round rg-badge-outline-round-dark">4</span>
                                <span class="rg-badge rg-badge-outline-round rg-badge-outline-round-error">5</span>
                                <span class="rg-badge rg-badge-outline-round rg-badge-outline-round-warning">6</span>
                                <span class="rg-badge rg-badge-outline-round rg-badge-outline-round-info">7</span>
                                <span class="rg-badge rg-badge-outline-round rg-badge-outline-round-success">8</span>
                            </div>
                        </div>
                        <br/>
                        <div class="row">                        
                            <div class="col-lg-12">
                                <h6>Highlight badges</h6>
                                <span class="rg-badge rg-badge-highlight rg-badge-highlight-primary">A</span>
                                <span class="rg-badge rg-badge-highlight rg-badge-highlight-secondary">B</span>
                                <span class="rg-badge rg-badge-highlight rg-badge-highlight-light">C</span>
                                <span class="rg-badge rg-badge-highlight rg-badge-highlight-dark">D</span>
                                <span class="rg-badge rg-badge-highlight rg-badge-highlight-error">E</span>
                                <span class="rg-badge rg-badge-highlight rg-badge-highlight-warning">F</span>
                                <span class="rg-badge rg-badge-highlight rg-badge-highlight-info">G</span>
                                <span class="rg-badge rg-badge-highlight rg-badge-highlight-success">H</span>
                            </div>
                        </div>

                    </section>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="rg-card-simple equal-height">
                    <header>
                        <h5>Badge Sizes</h5>
                    </header>
                    <section>
                        <div class="row">                        
                            <div class="col-lg-12">
                                <h6>Small badges</h6>
                                <span class="rg-badge rg-badge-primary">1</span>
                                <span class="rg-badge rg-badge-secondary">2</span>
                                <span class="rg-badge rg-badge-light">3</span>
                                <span class="rg-badge rg-badge-dark">4</span>
                                <span class="rg-badge rg-badge-error">5</span>
                                <span class="rg-badge rg-badge-warning">6</span>
                                <span class="rg-badge rg-badge-info">7</span>
                                <span class="rg-badge rg-badge-success">8</span>
                            </div>
                        </div>
                        <br/>
                        <div class="row">                        
                            <div class="col-lg-12">
                                <h6>Medium badges</h6>
                                <span class="rg-badge rg-badge-md rg-badge-primary">1</span>
                                <span class="rg-badge rg-badge-md rg-badge-secondary">2</span>
                                <span class="rg-badge rg-badge-md rg-badge-light">3</span>
                                <span class="rg-badge rg-badge-md rg-badge-dark">4</span>
                                <span class="rg-badge rg-badge-md rg-badge-error">5</span>
                                <span class="rg-badge rg-badge-md rg-badge-warning">6</span>
                                <span class="rg-badge rg-badge-md rg-badge-info">7</span>
                                <span class="rg-badge rg-badge-md rg-badge-success">8</span>
                            </div>
                        </div>
                        <br/>
                        <div class="row">                        
                            <div class="col-lg-12">
                                <h6>Large badges</h6>
                                <span class="rg-badge rg-badge-lg rg-badge-primary">1</span>
                                <span class="rg-badge rg-badge-lg rg-badge-secondary">2</span>
                                <span class="rg-badge rg-badge-lg rg-badge-light">3</span>
                                <span class="rg-badge rg-badge-lg rg-badge-dark">4</span>
                                <span class="rg-badge rg-badge-lg rg-badge-error">5</span>
                                <span class="rg-badge rg-badge-lg rg-badge-warning">6</span>
                                <span class="rg-badge rg-badge-lg rg-badge-info">7</span>
                                <span class="rg-badge rg-badge-lg rg-badge-success">8</span>
                            </div>
                        </div>
                        <br/>
                        <div class="row">                        
                            <div class="col-lg-12">
                                <h6>Extra large badges</h6>
                                <span class="rg-badge rg-badge-xl rg-badge-primary">A</span>
                                <span class="rg-badge rg-badge-xl rg-badge-secondary">B</span>
                                <span class="rg-badge rg-badge-xl rg-badge-light">C</span>
                                <span class="rg-badge rg-badge-xl rg-badge-dark">D</span>
                                <span class="rg-badge rg-badge-xl rg-badge-error">E</span>
                                <span class="rg-badge rg-badge-xl rg-badge-warning">F</span>
                                <span class="rg-badge rg-badge-xl rg-badge-info">G</span>
                                <span class="rg-badge rg-badge-xl rg-badge-success">H</span>
                            </div>
                        </div>
                        <br/>
                    </section>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="rg-card-simple equal-height">
                    <header>
                        <h5>Default text badges </h5>
                    </header>
                    <section>
                            <h5>Heading One <span class="rg-badge rg-badge-primary">Badge</span></h5>
                            <h2>Heading Two <span class="rg-badge rg-badge-primary">Badge</span></h2>
                            <h3>Heading Three <span class="rg-badge rg-badge-primary">Badge</span></h3>
                            <h4>Heading Four <span class="rg-badge rg-badge-primary">Badge</span></h4>
                            <h5>Heading Five <span class="rg-badge rg-badge-primary">Badge</span></h5>
                            <h6>Heading Six <span class="rg-badge rg-badge-primary">Badge</span></h6>
                            <span>
                                Span text <span class="rg-badge rg-badge-primary">Badge</span>
                            </span>
                            <span>
                                <br>
                                Anchor Tag <a href="#" class="rg-badge rg-badge-primary">Badge</a>
                            </span>
                            
                    </section>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="rg-card-simple equal-height">
                    <header>
                        <h5>Badge long text</h5>
                    </header>
                    <section>
                        <div class="row">                        
                            <div class="col-lg-12">
                                <h6>Rounded corner badges</h6>
                                <span class="rg-badge rg-badge-primary">Primary</span>
                                <span class="rg-badge rg-badge-secondary">123</span>
                                <span class="rg-badge rg-badge-light">Trend</span>
                                <span class="rg-badge rg-badge-dark">Updates</span>
                                <span class="rg-badge rg-badge-error">Hot</span>
                                <span class="rg-badge rg-badge-warning">Warm</span>
                                <span class="rg-badge rg-badge-info">Information</span>
                                <span class="rg-badge rg-badge-success">Done</span>
                            </div>
                        </div>
                        <br/>
                        <div class="row">                        
                            <div class="col-lg-12">
                                <h6>Sqaure badges</h6>
                                <span class="rg-badge rg-badge-square rg-badge-primary">Primary</span>
                                <span class="rg-badge rg-badge-square rg-badge-secondary">123</span>
                                <span class="rg-badge rg-badge-square rg-badge-light">Trend</span>
                                <span class="rg-badge rg-badge-square rg-badge-dark">Updates</span>
                                <span class="rg-badge rg-badge-square rg-badge-error">Hot</span>
                                <span class="rg-badge rg-badge-square rg-badge-warning">Warm</span>
                                <span class="rg-badge rg-badge-square rg-badge-info">Information</span>
                                <span class="rg-badge rg-badge-square rg-badge-success">Done</span>
                            </div>
                        </div>
                        <br/>
                        <div class="row">                        
                            <div class="col-lg-12">
                                <h6>Round badges</h6>
                                <span class="rg-badge rg-badge-round-lg-text rg-badge-primary">Primary</span>
                                <span class="rg-badge rg-badge-round-lg-text rg-badge-secondary">123</span>
                                <span class="rg-badge rg-badge-round-lg-text rg-badge-light">Trend</span>
                                <span class="rg-badge rg-badge-round-lg-text rg-badge-dark">Updates</span>
                                <span class="rg-badge rg-badge-round-lg-text rg-badge-error">Hot</span>
                                <span class="rg-badge rg-badge-round-lg-text rg-badge-warning">Warm</span>
                                <span class="rg-badge rg-badge-round-lg-text rg-badge-info">Information</span>
                                <span class="rg-badge rg-badge-round-lg-text rg-badge-success">Done</span>
                            </div>
                        </div>
                        <br/>
                        <div class="row">                        
                            <div class="col-lg-12">
                                <h6>Outline Round badges</h6>
                                <span class="rg-badge rg-badge-outline-round-lg-text rg-badge-outline-round-primary">Priamry</span>
                                <span class="rg-badge rg-badge-outline-round-lg-text rg-badge-outline-round-secondary">123</span>
                                <span class="rg-badge rg-badge-outline-round-lg-text rg-badge-outline-round-light">Trend</span>
                                <span class="rg-badge rg-badge-outline-round-lg-text rg-badge-outline-round-dark">Updates</span>
                                <span class="rg-badge rg-badge-outline-round-lg-text rg-badge-outline-round-error">Hot</span>
                                <span class="rg-badge rg-badge-outline-round-lg-text rg-badge-outline-round-warning">Warm</span>
                                <span class="rg-badge rg-badge-outline-round-lg-text rg-badge-outline-round-info">Information</span>
                                <span class="rg-badge rg-badge-outline-round-lg-text rg-badge-outline-round-success">Done</span>
                            </div>
                        </div>

                    </section>
                </div>
            </div>
        </div>

    </div>
</div>
