<div>
    <nav class="rg-breadcrumb" aria-label="breadcrumb">
        <h4 class="text-primary">Buttons</h4>
        <ol class="breadcrumb">
          <li class="breadcrumb-item breadcrumb-item-first"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="#">Buttons</a></li>
        </ol>
        <button class="btn btn-secondary btn-icon ml-auto btn-small"><span class="material-icons">settings_applications</span></button>
      </nav> 
    <div class="row">
        <div class="col-lg-6">
            <div class="rg-card-tabs equal-height">
                <header>
                    <h5>General Button Styles</h5>
                </header>
                <section>
                    <h6>Solid Square buttons</h6>
                    <div class="mb-4">
                        <button class="btn btn-primary btn-rectangle mb-1">Primary</button>
                        <button class="btn btn-secondary btn-rectangle mb-1">Secondary</button>
                        <button class="btn btn-success btn-rectangle mb-1">Success</button>
                        <button class="btn btn-light btn-rectangle mb-1">Light</button>
                    </div>
                    <h6>Round Corner buttons</h6>
                    <div class="mb-4">
                        <button class="btn btn-warning mb-1">Warning</button>
                        <button class="btn btn-info mb-1">Info</button>
                        <button class="btn btn-dark mb-1">Dark</button>
                        <button class="btn btn-danger mb-1">Error</button>
                    </div>
                    <h6>Solid Capsule buttons</h6>
                    <div class="mb-4">
                        <button class="btn btn-light btn-capsule mb-1">Rounded</button>
                        <button class="btn btn-secondary btn-capsule mb-1">Rounded</button>
                        <button class="btn btn-success btn-capsule mb-1">Rounded</button>
                        <button class="btn btn-warning btn-capsule mb-1">Rounded</button>
                        <button class="btn btn-primary btn-capsule mb-1">Rounded</button>
                    </div>
                    <h6>Outline buttons</h6>
                    <div class="mb-4">
                        <button class="btn btn-info btn-capsule btn-outline mb-1">Outline</button>
                        <button class="btn btn-success btn-capsule btn-outline mb-1">Outline</button>
                        <button class="btn btn-primary btn-capsule btn-outline mb-1">Outline</button>
                        <button class="btn btn-warning btn-capsule btn-outline mb-1">Outline</button>
                        <button class="btn btn-danger btn-capsule btn-outline mb-1">Outline</button>
                    </div>
                    <div class="mb-4">
                        <button class="btn btn-primary btn-rectangle btn-outline mb-1">Primary</button>
                        <button class="btn btn-secondary btn-rectangle btn-outline mb-1">Secondary</button>
                        <button class="btn btn-success btn-rectangle btn-outline mb-1">Success</button>
                        <button class="btn btn-light btn-rectangle btn-outline mb-1">Light</button>
                    </div>
                    <h6>Monotone buttons</h6>
                    <div class="mb-4">
                        <button class="btn btn-primary tone-solid btn-rectangle mb-1">Primary</button>
                        <button class="btn btn-secondary tone-solid btn-rectangle mb-1">Secondary</button>
                        <button class="btn btn-success tone-solid btn-rectangle mb-1">Success</button>
                        <button class="btn btn-light tone-solid btn-rectangle mb-1">Light</button>
                    </div>
                    <h6>Disabled buttons</h6>
                    <div class="mb-4">
                        <button class="btn btn-primary btn-disabled btn-rectangle mb-1">Primary</button>
                        <button class="btn btn-secondary btn-disabled btn-rectangle mb-1">Secondary</button>
                        <button class="btn btn-success btn-disabled btn-rectangle mb-1">Success</button>
                        <button class="btn btn-light btn-disabled btn-rectangle mb-1">Light</button>
                    </div>
                    <div class="mb-4">
                        <button class="btn btn-warning btn-disabled mb-1">Warning</button>
                        <button class="btn btn-info btn-disabled mb-1">Info</button>
                        <button class="btn btn-dark btn-disabled mb-1">Dark</button>
                        <button class="btn btn-danger btn-disabled mb-1">Error</button>
                    </div>
                </section>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="rg-card-tabs equal-height">
                <header>
                    <h5>Stylized Buttons</h5>
                </header>
                <section>
                    <h6>Only icons buttons</h6>
                    <div class="mb-4">
                        <button class="btn btn-primary btn-icon mb-1"><span class="material-icons">star</span></button>
                        <button class="btn btn-secondary btn-icon mb-1"><span class="material-icons">send</span></button>
                        <button class="btn btn-light btn-icon mb-1"><span class="material-icons">email</span></button>
                        <button class="btn btn-dark btn-icon mb-1"><span class="material-icons">star</span></button>
                        <button class="btn btn-danger btn-icon mb-1"><span class="material-icons">bug_report</span></button>
                        <button class="btn btn-warning btn-icon mb-1"><span class="material-icons">not_interested</span></button>
                        <button class="btn btn-info btn-icon mb-1"><span class="material-icons">error_outline</span></button>
                        <button class="btn btn-success btn-icon mb-1"><span class="material-icons">done_all</span></button>
                    </div>
                    <h6>Left side icon buttons</h6>
                    <div class="mb-4">
                        <button class="btn btn-primary btn-icon-text mb-1"><span class="material-icons">star</span><span class="text">Favourite</span></button>
                        <button class="btn btn-secondary btn-icon-text mb-1"><span class="material-icons">send</span><span class="text">Send</span></button>
                        <button class="btn btn-dark btn-icon-text mb-1"><span class="material-icons">delete</span><span class="text">Remove</span></button>
                        <button class="btn btn-light btn-icon-text mb-1"><span class="material-icons">comment</span><span class="text">Comment</span></button>
                    </div>
                    <h6>Right side icon buttons</h6>
                    <div class="mb-4">
                        <button class="btn btn-danger btn-icon-text mb-1"><span class="text">Favourite</span><span class="material-icons">star</span></button>
                        <button class="btn btn-warning btn-icon-text mb-1"><span class="text">Send</span><span class="material-icons">send</span></button>
                        <button class="btn btn-secondary btn-icon-text mb-1"><span class="text">Remove</span><span class="material-icons">delete</span></button>
                        <button class="btn btn-success btn-icon-text mb-1"><span class="text">Comment</span><span class="material-icons">comment</span></button>
                    </div>
                    <h6>Solid elevated buttons</h6>
                    <div class="mb-4">
                        <button class="btn btn-danger btn-rectangle btn-elevated mb-1">Error</button>
                        <button class="btn btn-primary btn-rectangle btn-elevated mb-1">Primary</button>
                        <button class="btn btn-light btn-icon-text btn-capsule btn-elevated mb-1"><span class="material-icons">power_settings_new</span><span class="text">Power</span></button>
                        <button class="btn btn-success btn-icon-text btn-elevated mb-1"><span class="material-icons">thumb_up</span><span class="text">Like</span></button>
                        <button class="btn btn-dark btn-icon-text btn-elevated mb-1"><span class="material-icons">star</span><span class="text">Favorite</span></button>
                    </div>
                    <h6>Outline elevated buttons</h6>
                    <div class="mb-4">
                        <button class="btn btn-info btn-icon-text btn-capsule btn-outline btn-elevated mb-1"><span class="material-icons">power_settings_new</span><span class="text">Power</span></button>
                        <button class="btn btn-primary btn-rectangle btn-outline btn-elevated mb-1">Secondary</button>
                        <button class="btn btn-success btn-outline btn-icon-text btn-elevated mb-1"><span class="material-icons">thumb_up</span><span class="text">Like</span></button>
                    </div>
                    <h6>Monotone elevated buttons</h6>
                    <div class="mb-4">
                        <button class="btn btn-primary tone-solid btn-rectangle btn-elevated mb-1">Primary</button>
                        <button class="btn btn-secondary tone-solid btn-elevated mb-1">Secondary</button>
                        <button class="btn btn-success tone-solid btn-capsule btn-elevated mb-1">Success</button>
                        <button class="btn btn-light tone-solid btn-capsule btn-elevated mb-1">Light</button>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="rg-card-tabs equal-height">
                <header>
                    <h5>Button Sizes</h5>
                </header>
                <section>
                    <h6>Small buttons</h6>
                    <div class="mb-4">
                        <button class="btn btn-danger btn-small btn-rectangle btn-elevated mb-1">Primary</button>
                        <button class="btn btn-primary btn-small btn-rectangle btn-elevated mb-1">Secondary</button>
                        <button class="btn btn-light btn-small btn-icon-text btn-capsule btn-elevated mb-1"><span class="material-icons">star</span><span class="text">Favorite</span></button>
                        <button class="btn btn-success btn-small btn-icon-text btn-elevated mb-1"><span class="material-icons">thumb_up</span><span class="text">Like</span></button>
                        <button class="btn btn-dark btn-small btn-icon-text btn-elevated mb-1"><span class="material-icons">star</span><span class="text">Like</span></button>
                    </div>
                    <h6>Medium buttons</h6>
                    <div class="mb-4">
                        <button class="btn btn-info btn-icon-text mb-1"><span class="material-icons">power_settings_new</span><span class="text">Power</span></button>
                        <button class="btn btn-primary btn-rectangle btn-outline mb-1">Primary</button>
                        <button class="btn btn-success btn-outline btn-icon-text mb-1"><span class="material-icons">thumb_up</span><span class="text">Like</span></button>
                        <button class="btn btn-primary mb-1">Primary</button>
                        <button class="btn btn-secondary btn-rectangle mb-1">Secondary</button>
                    </div>
                    <h6>Large buttons</h6>
                    <div class="mb-4">
                        <button class="btn btn-info btn-large btn-outline btn-icon-text mb-1"><span class="material-icons">power_settings_new</span><span class="text">Outline</span></button>
                        <button class="btn btn-warning btn-large btn-icon-text mb-1"><span class="text">Send</span><span class="material-icons">send</span></button>
                        <button class="btn btn-light btn-large btn-outline mb-1">Light</button>
                        <button class="btn btn-dark btn-large btn-icon mb-1"><span class="material-icons">delete</span></button>
                    </div>
                    <h6>Extra large buttons</h6>
                    <div class="mb-4">
                        <button class="btn btn-dark btn-extra-large btn-icon-text mb-1"><span class="material-icons">star</span><span class="text">Favorite</span></button>
                        <button class="btn btn-secondary btn-extra-large mb-1">Secondary</button>
                        <button class="btn btn-danger btn-extra-large mb-1">Danger</button>
                        <button class="btn btn-warning btn-extra-large mb-1">Warning</button>
                    </div>
                </section>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="rg-card-tabs equal-height">
                <header>
                    <h5>Gradient Buttons</h5>
                </header>
                <section>
                    <h6>Only icons buttons</h6>
                    <div class="mb-4">
                        <button class="btn btn-primary btn-icon btn-gradient mb-1"><span class="material-icons">star</span></button>
                        <button class="btn btn-secondary btn-icon btn-gradient mb-1"><span class="material-icons">send</span></button>
                        <button class="btn btn-light btn-icon btn-gradient mb-1"><span class="material-icons">email</span></button>
                        <button class="btn btn-dark btn-icon btn-gradient mb-1"><span class="material-icons">star</span></button>
                        <button class="btn btn-danger btn-icon btn-gradient mb-1"><span class="material-icons">bug_report</span></button>
                        <button class="btn btn-warning btn-icon btn-gradient mb-1"><span class="material-icons">not_interested</span></button>
                        <button class="btn btn-info btn-icon btn-gradient mb-1"><span class="material-icons">error_outline</span></button>
                        <button class="btn btn-success btn-icon btn-gradient mb-1"><span class="material-icons">done_all</span></button>
                    </div>
                    <h6>Left side icon buttons</h6>
                    <div class="mb-4">
                        <button class="btn btn-primary btn-icon-text btn-gradient mb-1"><span class="material-icons">star</span><span class="text">Favourite</span></button>
                        <button class="btn btn-secondary btn-icon-text btn-gradient mb-1"><span class="material-icons">send</span><span class="text">Send</span></button>
                        <button class="btn btn-dark btn-icon-text btn-gradient mb-1"><span class="material-icons">delete</span><span class="text">Remove</span></button>
                        <button class="btn btn-light btn-icon-text btn-gradient mb-1"><span class="material-icons">comment</span><span class="text">Comment</span></button>
                    </div>
                    <h6>Right side icon buttons</h6>
                    <div class="mb-4">
                        <button class="btn btn-danger btn-icon-text btn-gradient mb-1"><span class="text">Favourite</span><span class="material-icons">star</span></button>
                        <button class="btn btn-warning btn-icon-text btn-gradient mb-1"><span class="text">Send</span><span class="material-icons">send</span></button>
                        <button class="btn btn-secondary btn-icon-text btn-gradient mb-1"><span class="text">Remove</span><span class="material-icons">delete</span></button>
                        <button class="btn btn-success btn-icon-text btn-gradient mb-1"><span class="text">Comment</span><span class="material-icons">comment</span></button>
                        <button class="btn btn-brand btn-gradient mb-1">Comment</button>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>