<div>
  <nav class="rg-breadcrumb" aria-label="breadcrumb">
    <h4 class="text-primary">Progress bar</h4>
    <ol class="breadcrumb">
      <li class="breadcrumb-item breadcrumb-item-first"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="#">Progress bar</a></li>
    </ol>
    <button class="btn btn-secondary btn-icon ml-auto btn-small"><span class="material-icons">settings_applications</span></button>
  </nav> 
    <div class="row">
      <div class="col-md-6">
        <div class="rg-card-simple equal-height">
          <header>
            <h5>Basic progress bar</h5>
            <span>Subtitle of the card</span>
          </header>
          <section>
            <div class="progress mb-3">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            <div class="progress mb-3">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress mb-3">
            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress mb-3">
            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress mb-3">
            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </section>
        </div>
      </div>
      <div class="col-md-6">
        <div class="rg-card-simple equal-height">
          <header>
            <h5>Progress bar with label</h5>
            <span>Subtitle of the card</span>
          </header>
          <section>
            
            <div class="progress mb-3">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            <div class="progress mb-3">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>
            <div class="progress mb-3">
            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
            </div>
            <div class="progress mb-3">
            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
            <div class="progress mb-3">
            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>

          </section>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="rg-card-simple equal-height">
          <header>
            <h5>Progress bar size</h5>
            <span>Subtitle of the card</span>
          </header>
          <section>
              <div class="progress small mb-3">
                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="progress medium mb-3">
                  <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="progress large mb-3">
                  <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="progress extra-large mb-3">
                  <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
          </section>
        </div>
      </div>
      <div class="col-md-6">
        <div class="rg-card-simple equal-height">
          <header>
            <h5>Stripped Progress bar</h5>
            <span>Subtitle of the card</span>
          </header>
          <section>
            <div class="progress mb-3">
              <div class="progress-bar error" role="progressbar" style="width: 25%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress mb-3">
                <div class="progress-bar warning" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress mb-3">
                <div class="progress-bar success" role="progressbar" style="width: 75%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress mb-3">
                <div class="progress-bar info" role="progressbar" style="width: 100%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </section>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="rg-card-simple equal-height">
          <header>
            <h5>Multiple progress bar</h5>
            <span>Subtitle of the card</span>
          </header>
          <section>
              <div class="progress large mb-3">
                <div class="progress-bar primary" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar warning" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar secondary" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="progress large mb-3">
                  <div class="progress-bar error" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="progress-bar info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="progress large mb-3">
                  <div class="progress-bar warning" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="progress-bar dark" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="progress-bar success" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="progress-bar primary" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="progress extra-large mb-3">
                  <div class="progress-bar success" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="progress-bar primary" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="progress extra-large mb-3">
                  <div class="progress-bar secondary" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="progress-bar info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="progress-bar success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
          </section>
        </div>
      </div>
      <div class="col-md-6">
        <div class="rg-card-simple equal-height">
          <header>
            <h5>Progress bar highlight</h5>
            <span>Subtitle of the card</span>
          </header>
          <section>
            <div class="progress mb-3">
              <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress mb-3">
              <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress mb-3">
              <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress mb-3">
              <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress mb-3">
              <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </section>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="rg-card-simple equal-height">
          <header>
            <h5>Animated strips progress bar</h5>
            <span>Subtitle of the card</span>
          </header>
          <section>
              <div class="progress mb-3">
                <div class="progress-bar success progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
              </div>
              <div class="progress mb-3">
                <div class="progress-bar warning progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
              </div>
              <div class="progress mb-3">
                <div class="progress-bar error progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
              </div>
          </section>
        </div>
      </div>
    </div>

  </div>

















  