<div>
  <nav class="rg-breadcrumb" aria-label="breadcrumb">
    <h4 class="text-primary">Spinners</h4>
    <ol class="breadcrumb">
      <li class="breadcrumb-item breadcrumb-item-first"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="#">Spinners</a></li>
    </ol>
    <button class="btn btn-secondary btn-icon ml-auto btn-small"><span class="material-icons">settings_applications</span></button>
  </nav> 
    <div class="row">
      <div class="col-md-6">
        <div class="rg-card-simple equal-height">
          <header>
            <h5>Spinner Styles</h5>
          </header>
          <section>
            <h5>Rotator</h5>
            <div class="rg-spinner-rotator primary"></div>
            <div class="rg-spinner-rotator secondary"></div>
            <div class="rg-spinner-rotator light"></div>
            <div class="rg-spinner-rotator dark"></div>
            <div class="rg-spinner-rotator warning"></div>
            <div class="rg-spinner-rotator error"></div>
            <div class="rg-spinner-rotator success"></div>
            <div class="rg-spinner-rotator info"></div>
            
            <h5 class="mt-4">Shape Transform Spinner</h5>
            <div class="rg-spinner-shape-transform primary ml-4">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="rg-spinner-shape-transform secondary ml-4">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="rg-spinner-shape-transform warning ml-4">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="rg-spinner-shape-transform error ml-4">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
            
            <h5 class="mt-4">Pendulum Spinner</h5>
            <div class="rg-spinner-pendulum light ml-4"></div>
            <div class="rg-spinner-pendulum dark ml-5"></div>
            <div class="rg-spinner-pendulum success ml-5"></div>
            <div class="rg-spinner-pendulum info ml-5"></div>

            <h5 class="mt-4">Disk Spinner</h5>
            <div class="rg-spinner-disk primary"></div>
            <div class="rg-spinner-disk secondary"></div>
            <div class="rg-spinner-disk light"></div>
            <div class="rg-spinner-disk dark"></div>
            <div class="rg-spinner-disk warning"></div>
            <div class="rg-spinner-disk error"></div>
            <div class="rg-spinner-disk success"></div>
            <div class="rg-spinner-disk info"></div>

            <h5 class="mt-4">Square Spinner</h5>
            <div class="rg-spinner-square primary mr-5"></div>
            <div class="rg-spinner-square secondary mr-5"></div>
            <div class="rg-spinner-square light mr-5"></div>
            <div class="rg-spinner-square dark mr-5"></div>
            
            <h5 class="mt-4">Chase Spinner</h5>
            <div class="rg-spinner-chase warning mr-5">
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
            </div>
            <div class="rg-spinner-chase error mr-5">
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
            </div>
            <div class="rg-spinner-chase success mr-5">
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
            </div>
            <div class="rg-spinner-chase info mr-5">
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
            </div>

            <h5 class="mt-4">Ripple Spinner</h5>
            <div class="rg-spinner-ripple primary mr-4">
              <div class="rg-ripple-bounce-1"></div>
              <div class="rg-ripple-bounce-2"></div>
            </div>
            <div class="rg-spinner-ripple secondary mr-4">
              <div class="rg-ripple-bounce-1"></div>
              <div class="rg-ripple-bounce-2"></div>
            </div>
            <div class="rg-spinner-ripple light mr-4">
              <div class="rg-ripple-bounce-1"></div>
              <div class="rg-ripple-bounce-2"></div>
            </div>
            <div class="rg-spinner-ripple dark mr-4">
              <div class="rg-ripple-bounce-1"></div>
              <div class="rg-ripple-bounce-2"></div>
            </div>
            <div class="rg-spinner-ripple warning mr-4">
              <div class="rg-ripple-bounce-1"></div>
              <div class="rg-ripple-bounce-2"></div>
            </div>
            <div class="rg-spinner-ripple error mr-4">
              <div class="rg-ripple-bounce-1"></div>
              <div class="rg-ripple-bounce-2"></div>
            </div>
            <div class="rg-spinner-ripple success mr-4">
              <div class="rg-ripple-bounce-1"></div>
              <div class="rg-ripple-bounce-2"></div>
            </div>
            <div class="rg-spinner-ripple info mr-4">
              <div class="rg-ripple-bounce-1"></div>
              <div class="rg-ripple-bounce-2"></div>
            </div>

            <h5 class="mt-4">Rectangle Wave Spinner</h5>
            <div class="rg-spinner-wave-rectangle primary">
              <div class="rg-wave-rect-1"></div>
              <div class="rg-wave-rect-2"></div>
              <div class="rg-wave-rect-3"></div>
              <div class="rg-wave-rect-4"></div>
              <div class="rg-wave-rect-5"></div>
            </div>
            <div class="rg-spinner-wave-rectangle secondary">
              <div class="rg-wave-rect-1"></div>
              <div class="rg-wave-rect-2"></div>
              <div class="rg-wave-rect-3"></div>
              <div class="rg-wave-rect-4"></div>
              <div class="rg-wave-rect-5"></div>
            </div>
            <div class="rg-spinner-wave-rectangle light">
              <div class="rg-wave-rect-1"></div>
              <div class="rg-wave-rect-2"></div>
              <div class="rg-wave-rect-3"></div>
              <div class="rg-wave-rect-4"></div>
              <div class="rg-wave-rect-5"></div>
            </div>
            <div class="rg-spinner-wave-rectangle dark">
              <div class="rg-wave-rect-1"></div>
              <div class="rg-wave-rect-2"></div>
              <div class="rg-wave-rect-3"></div>
              <div class="rg-wave-rect-4"></div>
              <div class="rg-wave-rect-5"></div>
            </div>
            <div class="rg-spinner-wave-rectangle warning">
              <div class="rg-wave-rect-1"></div>
              <div class="rg-wave-rect-2"></div>
              <div class="rg-wave-rect-3"></div>
              <div class="rg-wave-rect-4"></div>
              <div class="rg-wave-rect-5"></div>
            </div>
            <div class="rg-spinner-wave-rectangle error">
              <div class="rg-wave-rect-1"></div>
              <div class="rg-wave-rect-2"></div>
              <div class="rg-wave-rect-3"></div>
              <div class="rg-wave-rect-4"></div>
              <div class="rg-wave-rect-5"></div>
            </div>
            <div class="rg-spinner-wave-rectangle success">
              <div class="rg-wave-rect-1"></div>
              <div class="rg-wave-rect-2"></div>
              <div class="rg-wave-rect-3"></div>
              <div class="rg-wave-rect-4"></div>
              <div class="rg-wave-rect-5"></div>
            </div>
            <div class="rg-spinner-wave-rectangle info">
              <div class="rg-wave-rect-1"></div>
              <div class="rg-wave-rect-2"></div>
              <div class="rg-wave-rect-3"></div>
              <div class="rg-wave-rect-4"></div>
              <div class="rg-wave-rect-5"></div>
            </div>

            <h5 class="mt-4">Circle Wave Spinner</h5>
            <div class="rg-spinner-wave-circle light">
              <div class="rg-wave-bounce-1"></div>
              <div class="rg-wave-bounce-2"></div>
              <div class="rg-wave-bounce-4"></div>
            </div>
            <div class="rg-spinner-wave-circle dark">
              <div class="rg-wave-bounce-1"></div>
              <div class="rg-wave-bounce-2"></div>
              <div class="rg-wave-bounce-4"></div>
            </div>
            <div class="rg-spinner-wave-circle success">
              <div class="rg-wave-bounce-1"></div>
              <div class="rg-wave-bounce-2"></div>
              <div class="rg-wave-bounce-4"></div>
            </div>
            <div class="rg-spinner-wave-circle info">
              <div class="rg-wave-bounce-1"></div>
              <div class="rg-wave-bounce-2"></div>
              <div class="rg-wave-bounce-4"></div>
            </div>
          </section>
        </div>
      </div>
      <div class="col-md-6">
        <div class="rg-card-simple equal-height">
          <header>
            <h5>Spinner Sizes</h5>
          </header>
          <section>
            
            <h5>Rotator</h5>
            <div class="rg-spinner-rotator info small mr-5"></div>
            <div class="rg-spinner-rotator info medium mr-5"></div>
            <div class="rg-spinner-rotator info large mr-5"></div>
            <div class="rg-spinner-rotator info extra-large"></div>

            <h5>Shape Transform Spinner</h5>
            <div class="rg-spinner-shape-transform success small ml-1">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="rg-spinner-shape-transform success medium ml-5">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="rg-spinner-shape-transform success large ml-5">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="rg-spinner-shape-transform success extra-large ml-5">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>

            <h5>Pendulum Spinner</h5>
            <div class="rg-spinner-pendulum secondary small ml-1"></div>
            <div class="rg-spinner-pendulum secondary medium ml-5"></div>
            <div class="rg-spinner-pendulum secondary large ml-5"></div>
            <div class="rg-spinner-pendulum secondary extra-large ml-5"></div>

            <h5>Disk Spinner</h5>
            <div class="rg-spinner-disk primary small mr-5"></div>
            <div class="rg-spinner-disk primary medium mr-5"></div>
            <div class="rg-spinner-disk primary large mr-5"></div>
            <div class="rg-spinner-disk primary extra-large"></div>

            <h5>Square Spinner</h5>
            <div class="rg-spinner-square warning small mr-5"></div>
            <div class="rg-spinner-square warning medium mr-5"></div>
            <div class="rg-spinner-square warning large mr-5"></div>
            <div class="rg-spinner-square warning extra-large mr-5"></div>

            <h5>Chase Spinner</h5>
            <div class="rg-spinner-chase dark small mr-5">
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
            </div>
            <div class="rg-spinner-chase dark medium mr-5">
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
            </div>
            <div class="rg-spinner-chase dark large mr-5">
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
            </div>
            <div class="rg-spinner-chase dark extra-large mr-5">
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
              <div class="rg-chase-dot"></div>
            </div>

            <h5>Ripple Spinner</h5>
            <div class="rg-spinner-ripple light small mr-4">
              <div class="rg-ripple-bounce-1"></div>
              <div class="rg-ripple-bounce-2"></div>
            </div>
            <div class="rg-spinner-ripple light medium mr-4">
              <div class="rg-ripple-bounce-1"></div>
              <div class="rg-ripple-bounce-2"></div>
            </div>
            <div class="rg-spinner-ripple light large mr-4">
              <div class="rg-ripple-bounce-1"></div>
              <div class="rg-ripple-bounce-2"></div>
            </div>
            <div class="rg-spinner-ripple light extra-large mr-4">
              <div class="rg-ripple-bounce-1"></div>
              <div class="rg-ripple-bounce-2"></div>
            </div>

            <h5>Rectangle Wave Spinner</h5>
            <div class="rg-spinner-wave-rectangle error small mr-5">
              <div class="rg-wave-rect-1"></div>
              <div class="rg-wave-rect-2"></div>
              <div class="rg-wave-rect-3"></div>
              <div class="rg-wave-rect-4"></div>
              <div class="rg-wave-rect-5"></div>
            </div>
            <div class="rg-spinner-wave-rectangle error medium mr-5">
              <div class="rg-wave-rect-1"></div>
              <div class="rg-wave-rect-2"></div>
              <div class="rg-wave-rect-3"></div>
              <div class="rg-wave-rect-4"></div>
              <div class="rg-wave-rect-5"></div>
            </div>
            <div class="rg-spinner-wave-rectangle error large mr-5">
              <div class="rg-wave-rect-1"></div>
              <div class="rg-wave-rect-2"></div>
              <div class="rg-wave-rect-3"></div>
              <div class="rg-wave-rect-4"></div>
              <div class="rg-wave-rect-5"></div>
            </div>
            <div class="rg-spinner-wave-rectangle error extra-large">
              <div class="rg-wave-rect-1"></div>
              <div class="rg-wave-rect-2"></div>
              <div class="rg-wave-rect-3"></div>
              <div class="rg-wave-rect-4"></div>
              <div class="rg-wave-rect-5"></div>
            </div>

            <h5>Circle Wave Spinner</h5>
            <div class="rg-spinner-wave-circle info small mr-5">
              <div class="rg-wave-bounce-1"></div>
              <div class="rg-wave-bounce-2"></div>
              <div class="rg-wave-bounce-4"></div>
            </div>
            <div class="rg-spinner-wave-circle info medium mr-5">
              <div class="rg-wave-bounce-1"></div>
              <div class="rg-wave-bounce-2"></div>
              <div class="rg-wave-bounce-4"></div>
            </div>
            <div class="rg-spinner-wave-circle info large mr-5">
              <div class="rg-wave-bounce-1"></div>
              <div class="rg-wave-bounce-2"></div>
              <div class="rg-wave-bounce-4"></div>
            </div>
            <div class="rg-spinner-wave-circle info extra-large mr-5">
              <div class="rg-wave-bounce-1"></div>
              <div class="rg-wave-bounce-2"></div>
              <div class="rg-wave-bounce-4"></div>
            </div>

          </section>
        </div>
      </div>
    </div>
  </div>

















  